<!--{template ranklist/ranklist_header}-->
<!--[nest=nestranklisttop]--><div id="nestranklisttop" class="area"></div><!--[/nest]-->

<div class="plate layout-2-type3 milk app-ranklist">
	<section class="col-1">
		<!--{subtemplate ranklist/side_left}-->
	</section>
	<section class="col-2 pd-10">
		<!--[nest=nestcontenttop]--><div id="nestcontenttop" class="area"></div><!--[/nest]-->
		<!--{if $ranklist_setting['member']['available']}-->
		<div class="vessel" id="ranklist_user">
			<div class="header">
				<b>{lang ranklist_member}</b>
				<span>
					<!--{if $_G[uid]}-->
						<a href="misc.php?mod=ranklist&type=member">[ {lang i_want_rank} ]</a>
					<!--{/if}-->
					<a href="misc.php?mod=ranklist&type=member">{lang more}</a>
				</span>
			</div>
			<div class="body">
				<!--{if $memberlist}-->
				<a class="first" href="home.php?mod=space&uid=$memberlist[0][uid]&do=profile" target="_blank" id="bid_$memberlist[0][uid]" {if $memberlist[0][note]} onmouseover="showTip(this)" tip="$memberlist[0][username]: $memberlist[0][note]"{/if}><!--{avatar($memberlist[0][uid])}--></a>
				<ul style="max-height: 95px;font-size: 0">
					<!--{eval unset($memberlist[0]);}-->
					<!--{loop $memberlist $member}-->
					<li>
						<a href="home.php?mod=space&uid=$member[uid]&do=profile" target="_blank" id="bid_$member[uid]" {if $member[note]} onmouseover="showTip(this)" tip="$member[username]: $member[note]"{/if}>$member[avatar]</a>
					</li>
					<!--{/loop}-->
				</ul>
				<!--{else}-->
				<div class="global_nothing">{lang global_nothing}</div>
				<!--{/if}-->
			</div>
		</div>
		<!--{/if}-->

		<!--[nest=nestpictop]--><div id="nestpictop" class="area"></div><!--[/nest]-->

		<div class="vessel" id="ranklist_ad">
			<div class="header">
				<b>{lang ad}{lang thread_in}</b>
			</div>
			<div class="body">
				<!--[nest=nestcontentbottom]--><div id="nestcontentbottom" class="area"></div><!--[/nest]-->
				<!--[nest=nestranklistbottom]--><div id="nestranklistbottom" class="area"></div><!--[/nest]-->
			</div>
		</div>
		<!--[nest=nestcontentmiddle]--><div id="nestcontentmiddle" class="area"></div><!--[/nest]-->

		<!--{if $ranklist_setting['thread']['available']}-->
		<div class="vessel" id="ranklist_thread">
			<div class="header">
				<b>{lang ranklist_thread}</b>
				<span><a href="misc.php?mod=ranklist&type=thread&view=replies&orderby=$before">{lang more}</a></span>
			</div>
			<div class="body">
				<!--{if $threads_hot}-->
				<ul>
					<!--{eval $key = 0;}-->
					<!--{loop $threads_hot $thread}-->
						<li>
							<em><a href="home.php?mod=space&uid=$thread[authorid]" target="_blank">$thread[author]</a></em>
							<a href="forum.php?mod=viewthread&tid=$thread[tid]" target="_blank">$thread[subject]</a>
						</li>
					<!--{/loop}-->
				</ul>
				<!--{else}-->
				<div class="global_nothing">{lang global_nothing}</div>
				<!--{/if}-->
			</div>
		</div>
		<!--{/if}-->

		<!--{if helper_access::check_module('blog') && $ranklist_setting['blog']['available']}-->
		<div class="vessel" id="ranklist_blog">
			<div class="header">
				<b>{lang blog_ranklist}</b>
				<span><a href="misc.php?mod=ranklist&type=blog&view=heats&orderby=$before">{lang more}</a></span>
			</div>
			<div class="body">
				<!--{if $blogs_hot}-->
				<ul>
					<!--{eval $key = 0;}-->
					<!--{loop $blogs_hot $blog}-->
						<li>
							<em><a href="home.php?mod=space&uid=$blog[uid]" target="_blank">$blog[username]</a></em>
							<a href="home.php?mod=space&uid=$blog[uid]&do=blog&id=$blog[blogid]" target="_blank">$blog[subject]</a>
						</li>
					<!--{/loop}-->
				</ul>
				<!--{else}-->
				<div class="global_nothing">{lang global_nothing}</div>
				<!--{/if}-->
			</div>
		</div>
		<!--{/if}-->

		<!--{if $ranklist_setting['poll']['available']}-->
		<div class="vessel" id="ranklist_poll">
			<div class="header">
				<b>{lang ranklist_poll}</b>
				<span><a href="misc.php?mod=ranklist&type=poll&view=heats&orderby=$before">{lang more}</a></span>
			</div>
			<div class="body">
				<!--{if $polls_hot}-->
				<ul>
					<!--{eval $key = 0;}-->
					<!--{loop $polls_hot $poll}-->
						<li{if $key++%2} class="xl2_r"{/if}>
							<em><a href="home.php?mod=space&uid=$poll[authorid]" target="_blank">$poll[author]</a></em>
							&middot; <a href="forum.php?mod=viewthread&tid=$poll[tid]" target="_blank">$poll[subject]</a>
						</li>
					<!--{/loop}-->
				</ul>
				<!--{else}-->
				<div class="global_nothing">{lang global_nothing}</div>
				<!--{/if}-->
			</div>
		</div>
		<!--{/if}-->

		<!--{if $ranklist_setting['activity']['available']}-->
		<div class="vessel" id="ranklist_activity">
			<div class="header">
				<b>{lang ranklist_activity}</b>
				<span><a href="misc.php?mod=ranklist&type=activity&view=heats&orderby=$before">{lang more}</a></span>
			</div>
			<div class="body">
				<!--{if $activities_hot}-->
				<ul>
					<!--{eval $key = 0;}-->
					<!--{loop $activities_hot $activity}-->
						<li{if $key++%2} class="xl2_r"{/if}>
							<em><a href="home.php?mod=space&uid=$activity[authorid]" target="_blank">$activity[author]</a></em>
							&middot; <a href="forum.php?mod=viewthread&tid=$activity[tid]" target="_blank">$activity[subject]</a>
						</li>
					<!--{/loop}-->
				</ul>
				<!--{else}-->
				<div class="global_nothing">{lang global_nothing}</div>
				<!--{/if}-->
			</div>
		</div>
		<!--{/if}-->

		<!--{if helper_access::check_module('album') && $ranklist_setting['picture']['available']}-->
		<div class="vessel" id="ranklist_picture">
			<div class="header">
				<b>{lang ranklist_picture}</b>
				<span>
					<a href="misc.php?mod=ranklist&type=picture&view=hot&orderby=all">{lang more}</a>
				</span>
			</div>
			<div class="body">
				<!--{if $pictures}-->
				<div class="pic-list" id="piclist">
					<ul id="piclist_source" hide>
						<!--{loop $pictures $pic}-->
						<li>
							<a class="pic" href="home.php?mod=space&uid=$pic[uid]&do=album&picid=$pic[picid]" target="_blank">
								<img src="$pic[url]" alt="" />
							</a>
							<div class="info">
								<a class="author" href="home.php?mod=space&uid=$pic[uid]" target="_blank"><!--{avatar($pic['uid'],'small')}--><i>$pic[username]</i></a>
								<span class="rank">
									<a href="home.php?mod=space&uid=$pic[uid]&do=album&picid=$pic[picid]" target="_blank">$pic[albumname]</a>
								</span>
							</div>
						</li>
						<!--{/loop}-->
					</ul>
					<script>swaterfall('#piclist','#piclist_source','picitem',3);</script>
				</div>
				<!--{else}-->
				<div class="global_nothing">{lang global_nothing}</div>
				<!--{/if}-->
			</div>
		</div>
		<!--{/if}-->
	</section>
</div>


<!--{template common/footer}-->