<!--{subtemplate common/header_common}-->
<meta name="application-name" content="$_G['setting']['bbname']" />
<meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
<meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{STATICURL}image/common/bbs.ico" />
<!--{if $_G['setting']['portalstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{STATICURL}image/common/portal.ico" /><!--{/if}-->
<!--{if $_G['setting']['groupstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{STATICURL}image/common/group.ico" /><!--{/if}-->
<!--{if helper_access::check_module('feed')}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{STATICURL}image/common/home.ico" /><!--{/if}-->

<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}--><link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" /><!--{/if}-->
<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'home'}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'portal'}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
<!--{/if}-->
</head>

<body>
<!--{template common/header_loader}-->
<render role="body">
    <layout:html html-cache>
		<!--{template common/header_nestmod}-->
    </layout:html>
    <layout:html html-accessory style="width: 100%">
        <div class="cover">
            <div id="ajaxwaitid"></div>
            <div id="append_parent">
                <!--{if !IS_ROBOT && $_G['uid'] && !empty($_G['style']['extstyle'])}-->
                <div class="full-cover trans-ease" id="maintheme-menu">
                    <a class="closer animal2 trans-outback">×</a>
                    <div class="container panel theme-list trans-ease-slow" data-protect>
                        <ol class="panel-container">
                            <li class="box size-3-1" onclick="extstyle('')"><i class="preview"></i><i class="info">{lang default}</i></li>
                            <!--{loop $_G['style']['extstyle'] $extstyle}-->
                            <li class="box size-3-1" onclick="extstyle('$extstyle[0]')"><i class="preview" style='background:$extstyle[2]'></i><i class="info">$extstyle[2]</i></li>
                            <!--{/loop}-->
                        </ol>
                    </div>
                </div>
                <script>
                    jQuery(document).ready(function () {
                        menu_initialize('#maintheme-btn','#maintheme-menu',[document,window,'#maintheme-menu > .closer']);
                    });
                </script>
                <!--{/if}-->
            </div>
        </div>
        <div class="container">
            <!--{if empty($topic) || $topic['useheader']}-->
                <!--{if $_G['setting']['mobile']['allowmobile'] && (!$_G['setting']['cacheindexlife'] && !$_G['setting']['cachethreadon'] || $_G['uid']) && ($_GET['nest'] != 'yes' || !$_GET['inajax']) && ($_G['mobile'] != '' && $_G['cookie']['mobile'] == '' && $_GET['mobile'] != 'no')}-->
                    <div>
                        {lang your_mobile_browser}
                        <a href="{$_G['siteurl']}forum.php?mobile=yes">{lang go_to_mobile}</a>
                        <span>|</span>
                        <a href="$_G['setting']['mobile']['nomobileurl']">{lang to_be_continue}</a>
                    </div>
                <!--{/if}-->

                <!--{if $_G['setting']['shortcut'] && $_G['member'][credits] >= $_G['setting']['shortcut']}-->
                    <div id="shortcut">
                        <span><a id="shortcutcloseid" title="{lang close}">{lang close}</a></span>
                        {lang shortcut_notice}
                        <a id="shortcuttip">{lang shortcut_add}</a>
                    </div>
                    <script type="text/javascript">setTimeout(setShortcut, 2000);</script>
                <!--{/if}-->

                <!--{ad/headerbanner/wp a_h}-->

                <!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
                    <ul class="p_pop h_pop" id="plugin_menu" style="display: none">
                        <!--{loop $_G['setting']['plugins']['jsmenu'] $module}-->
                        <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
                        <li>$module[url]</li>
                        <!--{/if}-->
                        <!--{/loop}-->
                    </ul>
                <!--{/if}-->
                $_G[setting][menunavs]
                <!--{ad/subnavbanner/a_mu}-->
                <!--{hook/global_header}-->
            <!--{/if}-->
        </div>
    </layout:html>
    <layout:html html-header>
        <!--{subtemplate common/header_nav}-->
        <!--{subtemplate common/header_banner}-->
        <!--{hook/global_nav_extra}-->
    </layout:html>
	<layout:html html-wrapper>