<!--{template common/header}-->
<div class="header">
	<span class="title-tip">{lang getpassword}</span>
</div>
<form class="body" method="post" autocomplete="off" action="member.php?mod=getpasswd&uid=$uid&id=$hashid&sign=$_GET[sign]">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<label><em>{lang username}:</em>$member[username]</label>
	<label><em>{lang new_password}:</em><input type="password" id="newpasswd1" name="newpasswd1" size="25" /></label>
	<i id="chk_newpasswd1">{lang register_password_tips}<!--{if $_G['setting']['pwlength']}-->, {lang register_password_length_tips1} $_G['setting']['pwlength'] {lang register_password_length_tips2}<!--{/if}--></i>
	<label><em>{lang new_password_confirm}:</em><input type="password" id="newpasswd2" name="newpasswd2" size="25" /></label>
	<i id="chk_newpasswd2"></i>
	<i id="tip_newpasswd1" class="p_tip"></i>
	<i id="tip_newpasswd2" class="p_tip"></i>
	<h4>{lang login_guest}</h4>
	<div class="footer">
		<button class="btn-square fullwidth" style="border: none;"  type="submit" name="getpwsubmit" value="true"><span>{lang submit}</span></button>
	</div>
</form>
<script type="text/javascript" src="{$_G[setting][jspath]}register.js?{VERHASH}"></script>
<script>
	var strongpw = [];
	<!--{if $_G['setting']['strongpw']}-->
		<!--{loop $_G['setting']['strongpw'] $key $val}-->
		strongpw[$key] = $val;
		<!--{/loop}-->
	<!--{/if}-->
	var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
	checkPwdComplexity($('newpasswd1'), $('newpasswd2'));
</script>
<!--{template common/footer}-->