<!--{template common/header}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a><em class="direct"></em> $topic[title]
	</div>
</div>
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">

<div id="widgets">
</div>
<div>
<!--[nest=nestpage]-->
<div id="nestpage" class="area">
	<div id="frame1" class="frame move-span frame-1 cl">
		<div class="frame-title title" id="frame1"><span class="titletext">{lang frame}</span></div>
		<div id="frame1_left" class="column frame-1-c"></div>
	</div>
</div>
<!--[/nest]-->
<!--{if $topic['allowcomment']==1}-->
	{eval
		$data = &$topic;
		$common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
		$form_url = "portal.php?mod=portalcp&ac=comment";
		$commentlist = portaltopicgetcomment($topicid);	}
	<!--{template portal/portal_comment}-->
<!--{/if}-->
</div>
<script src="misc.php?mod=nesthelp&action=get&type=topic&nest=yes&topicid=$topicid&r={echo random(4)}"></script>
<!--{template common/footer}-->