<!--{template common/header}-->
<div class="fwin">
	<div class="header">
		<span class="title-tip">{lang group_push_to_forum}</span>
		<a onclick="hideWindow('$_GET['handlekey']');" class="close" title="{lang close}">×</a>
	</div>
	<form method="post" autocomplete="off" id="form_$_GET[handlekey]" name="form_$_GET[handlekey]" action="forum.php?mod=group&action=recommend&fid=$_G[fid]" {if $_G[inajax]}onsubmit="ajaxpost(this.id, 'form_$_GET[handlekey]');"{/if}>
		<div class="body">
			<input type="hidden" name="referer" value="{echo dreferer()}" />
			<input type="hidden" name="grouprecommend" value="true" />
			<input type="hidden" name="inajax" value="$_G[inajax]" />
			<!--{if $_G[inajax]}--><input type="hidden" name="handlekey" value="$_GET[handlekey]" /><!--{/if}-->
			<input type="hidden" name="formhash" value="{FORMHASH}" />
			<p class="common-tip l"><i class="ft-activity heart-pink"></i>{lang option}{lang group_push_to_forum}</p>
			<div class="input-box f" id="return_$_GET[handlekey]">
				<span>{lang group_push_to_forum}</span>
				<select id="recommend" name="recommend">
					<option value="0">{lang group_do_not_push}</option>
					$forumselect
				</select>
			</div>
		</div>
		<div class="footer">
			<button class="btn-square fullwidth" style="border: none;"  type="submit" value="true">{lang confirms}</button>
		</div>
	</form>
</div>
<!--{template common/footer}-->