<!--{eval $keywordenc = $keyword ? rawurlencode($keyword) : '';}-->
<!--{if $searchid || ($_GET['adv'] && CURMODULE == 'forum')}-->
	<div id="scform" >
		<div id="scform-form">
			<script type="text/javascript">initSearchmenu('scform-srchtxt');$('scform-srchtxt').focus();</script><input type="hidden" name="searchsubmit" value="yes" />
			<input type="text" id="scform-srchtxt" name="srchtxt" value="$keyword" tabindex="1"/>
			<button type="submit" id="scform-submit">{lang search}</button>
		</div>
		<div id="scform-tb">
			<!--{if CURMODULE == 'forum'}-->
			<span class="r">
				<a id="quick_sch" class="showmenu" onclick="showMenu(this.id);">{lang quick}</a>
				<!--{if CURMODULE == 'forum'}-->
					<a href="search.php?mod=forum&adv=yes{if $keyword}&srchtxt=$keywordenc{/if}">{lang search_adv}</a>
				<!--{/if}-->
			</span>
			<!--{/if}-->
			<!--{if $_G['setting']['portalstatus'] && $_G['setting']['search']['portal']['status'] && ($_G['group']['allowsearch'] & 1 || $_G['adminid'] == 1)}--><!--{block slist[portal]}--><a href="search.php?mod=portal{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'portal'} class="checked"{/if}>{lang portal}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if $_G['setting']['search']['forum']['status'] && ($_G['group']['allowsearch'] & 2 || $_G['adminid'] == 1)}--><!--{block slist[forum]}--><a href="search.php?mod=forum{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'forum'} class="checked"{/if}>{lang thread}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if helper_access::check_module('blog') && $_G['setting']['search']['blog']['status'] && ($_G['group']['allowsearch'] & 4 || $_G['adminid'] == 1)}--><!--{block slist[blog]}--><a href="search.php?mod=blog{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'blog'} class="checked"{/if}>{lang blog}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if helper_access::check_module('album') && $_G['setting']['search']['album']['status'] && ($_G['group']['allowsearch'] & 8 || $_G['adminid'] == 1)}--><!--{block slist[album]}--><a href="search.php?mod=album{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'album'} class="checked"{/if}>{lang album}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if helper_access::check_module('collection') && $_G['setting']['search']['collection']['status'] && ($_G['group']['allowsearch'] & 64 || $_G['adminid'] == 1)}--><!--{block slist[collection]}--><a href="search.php?mod=collection{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'collection'} class="checked"{/if}>{lang collection}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{echo implode("", $slist);}-->
		</div>
	</div>
<!--{else}-->
	<!--{if !empty($srchtype)}-->
	<input type="hidden" name="srchtype" value="$srchtype" />
	<!--{/if}-->
	<div id="scform" >
		<div id="scform-form">
			<script type="text/javascript">initSearchmenu('scform-srchtxt');$('scform-srchtxt').focus();</script><input type="hidden" name="searchsubmit" value="yes" />
			<input type="text" id="scform-srchtxt" name="srchtxt" value="$keyword" tabindex="1" />
			<button type="submit" id="scform-submit" value="true">{lang search}</button>
		</div>
		<!--{if $srchtype != 'threadsort'}-->
		<div id="scform-tb">
			<!--{if CURMODULE == 'forum'}-->
			<span class="r">
					<a id="quick_sch" onclick="showMenu(this.id);">{lang quick}</a>
				<!--{if CURMODULE == 'forum'}-->
					<a href="search.php?mod=forum&adv=yes">{lang search_adv}</a>
				<!--{/if}-->
				</span>
			<!--{/if}-->
			<!--{if helper_access::check_module('portal') && $_G['setting']['search']['portal']['status'] && ($_G['group']['allowsearch'] & 1 || $_G['adminid'] == 1)}--><!--{block slist[portal]}--><a href="search.php?mod=portal{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'portal'} class="checked"{/if}>{lang portal}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if $_G['setting']['search']['forum']['status'] && ($_G['group']['allowsearch'] & 2 || $_G['adminid'] == 1)}--><!--{block slist[forum]}--><a href="search.php?mod=forum{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'forum'} class="checked"{/if}>{lang threads}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if helper_access::check_module('blog') && $_G['setting']['search']['blog']['status'] && ($_G['group']['allowsearch'] & 4 || $_G['adminid'] == 1) && helper_access::check_module('blog')}--><!--{block slist[blog]}--><a href="search.php?mod=blog{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'blog'} class="checked"{/if}>{lang blog}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if helper_access::check_module('album') && $_G['setting']['search']['album']['status'] && ($_G['group']['allowsearch'] & 8 || $_G['adminid'] == 1) && helper_access::check_module('album')}--><!--{block slist[album]}--><a href="search.php?mod=album{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'album'} class="checked"{/if}>{lang album}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{if helper_access::check_module('collection') && $_G['setting']['search']['collection']['status'] && ($_G['group']['allowsearch'] & 64 || $_G['adminid'] == 1)}--><!--{block slist[collection]}--><a href="search.php?mod=collection{if $keyword}&srchtxt=$keywordenc&searchsubmit=yes{/if}"{if CURMODULE == 'collection'} class="checked"{/if}>{lang collection}<span></span></a><!--{/block}--><!--{/if}-->
			<!--{echo implode("", $slist);}-->
		</div>
		<!--{/if}-->
	</div>
<!--{/if}-->
<!--{if CURMODULE == 'forum'}-->
	<ul id="quick_sch_menu" class="p_pop" style="display: none;">
		<li><a href="search.php?mod=forum&srchfrom=3600&searchsubmit=yes">{lang search_quick_hour_1}</a></li>
		<li><a href="search.php?mod=forum&srchfrom=14400&searchsubmit=yes">{lang search_quick_hour_4}</a></li>
		<li><a href="search.php?mod=forum&srchfrom=28800&searchsubmit=yes">{lang search_quick_hour_8}</a></li>
		<li><a href="search.php?mod=forum&srchfrom=86400&searchsubmit=yes">{lang search_quick_hour_24}</a></li>
		<li><a href="search.php?mod=forum&srchfrom=604800&searchsubmit=yes">{lang search_quick_day_7}</a></li>
		<li><a href="search.php?mod=forum&srchfrom=2592000&searchsubmit=yes">{lang search_quick_day_30}</a></li>
		<li><a href="search.php?mod=forum&srchfrom=15552000&searchsubmit=yes">{lang search_quick_day_180}</a></li>
		<li><a href="search.php?mod=forum&srchfrom=31536000&searchsubmit=yes">{lang search_quick_day_365}</a></li>
	</ul>
<!--{/if}-->