<!--{template forum/collection_header}-->
<div class="plate layout-2-type1 app-collection">
	<section class="col-1">
		<!--{hook/collection_view_top}-->

		<div class="vessel">
			<!--{if $_G['collection']['commentnum'] > 0}-->
				<!--{if $permission}-->
				<form action="forum.php?mod=collection&action=comment&op=del" method="POST">
					<input type="hidden" value="{$ctid}" name="ctid" />
					<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
				<!--{/if}-->
					<ul class="coll-comment-list">
						<!--{loop $commentlist $comment}-->
						<li class="coll-comment">
							<div class="head">
								<!--{if $permission}-->
									<div class="ccbox admin r">
										<input type="checkbox" value="$comment[cid]" name="delcomment[]" id="delcomment_$comment[cid]" />
										<label for="delcomment_$comment[cid]"></label>
									</div>
								<!--{/if}-->
								<a class="avatar" href="home.php?mod=space&uid=$comment['uid']" c="1"><!--{avatar($comment['uid'],small)}--></a>
								<a class="name" href="home.php?mod=space&uid=$comment['uid']">$comment[username]</a>
								<!--{if $comment[rate]}--><span class="stars" id="star_$comment[cid]"><script>$('star_$comment[cid]').innerHTML = ratestars($comment[rate]);</script></span><!--{/if}-->
								<span class="date">$comment[dateline]</span>
							</div>
							<p class="msg">$comment[message]</p>
						</li>
						<!--{/loop}-->
					</ul>
				<!--{if $multipage}-->$multipage<!--{/if}-->
				<!--{if $permission}-->
					<button type="submit" class="update-comment">{lang delete}</button>
				</form>
				<!--{/if}-->
			<!--{else}-->
				<div class="global_nothing">{lang no_content}</div>
			<!--{/if}-->
		</div>
        <!--{hook/collection_view_bottom}-->
	</section>
	<section class="col-2">
		<div class="vessel">
			<span class="title">{lang collection_admins}</span>
			<div class="admin-list">
				<!--{hook/collection_viewoptions}-->
				<span class="user">
					<a class="avatar" href="home.php?mod=space&uid={$_G['collection']['uid']}" c="1" title="{$_G['collection']['username']}"><!--{avatar($_G['collection']['uid'],'middle')}--></a>
				</span>
                <!--{if $collectionteamworker}-->
                <!--{loop $collectionteamworker $collectionworker}-->
						<span class="user" id="k_worker_uid_{$collectionworker['uid']}">
							<a class="avatar" href="home.php?mod=space&uid={$collectionworker['uid']}" c="1" title="{$collectionworker['username']}"><!--{avatar($collectionworker['uid'],'middle')}--></a>
                            <!--{if $permission}-->
							<a class="del ft-trash-2" href="forum.php?mod=collection&action=edit&op=removeworker&ctid={$_G['collection']['ctid']}&uid={$collectionworker['uid']}&formhash={FORMHASH}"  onclick="showDialog('{lang collection_delete_confirm2}','confirm','','ajaxget(\''+this.href+'\',\'k_worker_uid_{$collectionworker['uid']}\')');return false;"></a>
                            <!--{/if}-->
						</span>
                <!--{/loop}-->
                <!--{/if}-->
			</div>
		</div>

        <!--{if $followers}-->
		<div class="vessel">
			<span class="title">{lang collection_followers}</span>
			<ul class="avatar-list">
				<!--{loop $followers $follower}-->
					<li>
						<a href="home.php?mod=space&uid=$follower[uid]" c="1">
							<!--{avatar($follower[uid],middle)}-->
							<i class="name">$follower[username]</i>
						</a>
					</li>
                <!--{/loop}-->
			</ul>
		</div>
        <!--{/if}-->
        <!--{hook/collection_side_bottom}-->
	</section>
	<script type="text/javascript" src="{$_G[setting][jspath]}home_friendselector.js?{VERHASH}"></script>
	<script type="text/javascript">
		var fs;
        var clearlist = 0;
        var followstatus = {if $collectionfollowdata['ctid']}1{else}0{/if};
            var followlink = $("followlink");
            var follownum = $("follownum");

            function succeedhandle_addComment(url, msg, commentdata) {
                $("btnCommentSubmit").disabled='';
                showDialog(msg, 'right', '', 'location.href="' + url + '"', null, null, null, null, null, null, 3);
            }
            function errorhandle_addComment(msg, commentdata) {
                $("btnCommentSubmit").disabled='';
                showError(msg);
            }
            function succeedhandle_followcollection(url, msg, collectiondata) {
                followlink.trgClass('active');
                if(collectiondata['status'] == 1) { //关注成功
                    followstatus = 1;
                    followlink.innerHTML = '<i class="mt-favorite"></i>{lang collection_unfollow}';
                    followlink.href = followcollectionurl();
                    follownum.innerHTML = follownum.innerHTML = parseInt(follownum.innerHTML) + 1;
                } else if(collectiondata['status'] == 2) {
                    followstatus = 0;
                    followlink.innerHTML = '<i class="mt-favorite"></i>{lang collection_follow}';
                    followlink.href = followcollectionurl();
                    follownum.innerHTML = follownum.innerHTML = parseInt(follownum.innerHTML) - 1;
                }
            }
            function errorhandle_followcollection(msg, collectiondata) {
                showError(msg);
            }
            function followcollectionurl() {
                return 'forum.php?mod=collection&action=follow&op='+(followstatus ? 'unfo': 'follow')+'&ctid={$_G['collection']['ctid']}&formhash={FORMHASH}';
            }
	</script>
</div>
<!--{template common/footer}-->
