<script>
var postminchars = parseInt('$_G['setting']['minpostsize']');
var postmaxchars = parseInt('$_G['setting']['maxpostsize']');
var disablepostctrl = parseInt('{$_G['group']['disablepostctrl']}');
var fid = parseInt('$_G[fid]');
</script>
<div id="fastpost">
	<!--{if !$allowfastpost}-->
		<div class="logincheck">
			<!--{if !$_G['uid']}-->
			<!--{if !$_G['connectguest']}-->
			{lang login_to_post}
			<a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)" >{lang login}</a> | <a href="member.php?mod={$_G[setting][regname]}">$_G['setting']['reglinkname']</a><br>
			<!--{else}-->
			{lang connect_fill_profile_to_post}
			<!--{/if}-->
			<!--{else}-->
			{lang no_permission_to_post}
			<!--{/if}-->
			<!--{hook/global_login_text}-->
		</div>
		<div class="blur">
			<div class="subjectbar">
				<!--{if $_G['forum'][threadtypes][types]}-->
				<select class="typec" name="typeid" id="typeid_fast" >
					<option value="0" selected="selected">{lang select_thread_catgory}</option>
				</select>
				<script class="hidden">simulateSelect('typeid_fast');</script>
				<!--{/if}-->
				<input type="text" id="subject"  placeholder="{lang comment_message}"/>
			</div>
			<div id="fastposteditor">
				<div class="editbar dpointer trans-none">
					<a class="l shift">{lang post_advancemode}</a>
					<!--{eval $seditor = array('fastpost', array('at', 'bold', 'color', 'img', 'link', 'quote', 'code', 'smilies'), !$allowfastpost ? 1 : 0, $allowpostattach && $allowfastpost ? '<span id="spanButtonPlaceholder">'.lang('template', 'upload').'</span>' : '');}-->
					<!--{subtemplate common/seditor}-->
				</div>
				<textarea></textarea>
			</div>
			<div class="postbar ccbox">
				<button class="r submit trans-jumpout" >{lang post_newthread}</button>
			</div>
		</div>
	<!--{else}-->
		<form method="post" autocomplete="off" id="fastpostform" action="forum.php?mod=post&action=newthread&fid=$_G[fid]&topicsubmit=yes&infloat=yes&handlekey=fastnewpost" onSubmit="return fastpostvalidate(this)">
			<!--{hook/forumdisplay_fastpost_content}-->
			<div id="fastpostreturn"></div>
			<div class="subjectbar">
				<!--{if $_G['forum'][threadtypes][types]}-->
					<select class="typec" name="typeid" id="typeid_fast" >
					    <option value="0" selected="selected">{lang select_thread_catgory}</option>
					    <!--{loop $_G['forum'][threadtypes][types] $typeid $name}-->
						<!--{if empty($_G['forum']['threadtypes']['moderators'][$typeid]) || $_G['forum']['ismoderator']}-->
						<option value="$typeid"><!--{echo strip_tags($name);}--></option>
						<!--{/if}-->
					    <!--{/loop}-->
					</select>
				<!--{else}-->
					<a class="typec awe-bars">{lang no_thread_catgory}</a>
				<!--{/if}-->
				<input id="subject" type="text" name="subject" onkeyup="strLenCalc(this, 'checklen', 80);" placeholder="{lang comment_message}"/>
            </div>
			<div {if $_G[setting][fastsmilies]}{/if} id="fastposteditor">
				<div class="editbar dpointer">
					<a class="l shift" href="forum.php?mod=post&action=newthread&fid=$_G[fid]" onclick="switchAdvanceMode(this.href);doane(event);">{lang post_advancemode}</a>
					<!--{eval $seditor = array('fastpost', array('at', 'bold', 'color', 'img', 'link', 'quote', 'code', 'smilies'), !$allowfastpost ? 1 : 0, $allowpostattach && $allowfastpost ? '<span id="spanButtonPlaceholder">'.lang('template', 'upload').'</span>' : '');}-->
					<!--{hook/forumdisplay_fastpost_ctrl_extra}-->
					<!--{subtemplate common/seditor}-->
					<!--{hook/forumdisplay_fastpost_func_extra}-->
                    <div hide>
                        <script class="hidden" reload="1">simulateSelect('typeid_fast');</script>
                        <input type="hidden" name="formhash" value="{FORMHASH}" />
                        <input type="hidden" name="usesig" value="$usesigcheck" />
                    </div>
				</div>
                <textarea name="message" placeholder="{lang reply_rule}" id="fastpostmessage"></textarea>
            </div>
			<div class="postbar ccbox">
				<button class="r submit trans-jumpout" {if $fastpost}type="submit" {elseif !$_G['uid']}type="button" onclick="showWindow('login', 'member.php?mod=logging&action=login&guestmessage=yes')" {/if}{if !$seccodecheck && !$secqaacheck}onmouseover="checkpostrule('seccheck_fastpost', 'ac=newthread');this.onmouseover=null" {/if}name="topicsubmit" id="fastpostsubmit" value="topicsubmit">{lang post_newthread}</button>
				<!--{if $fastpost && ($secqaacheck || $seccodecheck)}-->
					<div id="seccheck" class="r"><!--{subtemplate forum/seccheck_post}--></div>
				<!--{/if}-->
				<!--{hook/forumdisplay_fastpost_btn_extra}-->
				<!--{if !empty($_G['setting']['pluginhooks']['forumdisplay_fastpost_sync_method'])}-->
				<span>{lang post_sync_method}:<!--{hook/forumdisplay_fastpost_sync_method}--></span>
				<!--{/if}-->
				<!--{if helper_access::check_module('follow')}-->
				<input id="rebroadcast" type="checkbox" name="adddynamic" value="1" {if $_G['forum']['allowfeed'] && !$_G[tid] && empty($_G['forum']['viewperm'])}checked="checked"{/if} />
				<label for="rebroadcast">{lang post_relay}</label>
				<!--{/if}-->
			</div>
			<!--{if $allowpostattach}-->
				<script>
				    var editorid = '';
				    var ATTACHNUM = {'imageused':0,'imageunused':0,'attachused':0,'attachunused':0}, ATTACHUNUSEDAID = [], IMGUNUSEDAID = [];
				</script>
				<input type="hidden" name="posttime" id="posttime" value="{TIMESTAMP}" />
				<div class="fileslist">
					<div id="fl_header" style="display: none">
						<p class="tipbar">上传的文件会全部以上传时间排序并显示在内容里，你可以通过将文件添加到内容里来调整顺序</p>
						<div class="item">
							<a class="l file">{lang filename}<span class="tooltip" data-pos="tl">{lang e_attach_insert}</span></a>
							<a class="r delete" style="background: none !important;"></a>
							<!--{if $_G['group']['maxprice']}-->
							<a class="r price">{$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][title]}</a>
							<!--{/if}-->
							<!--{if $_G['group']['allowsetattachperm']}-->
							<a class="r permis">{lang readperm}<img class="svgicon small" src="{IMGURL}/common/mark/faq.svg" alt="Tip" class="vm" onmouseover="showTip(this)" tip="{lang post_select_usergroup_readacces}" /></a>
							<!--{/if}-->
							<a class="r descrip">{lang description}</a>
						</div>
					</div>
					<div id="attachlist"></div>
                    <div hide>
                        <!--{if empty($_G['setting']['pluginhooks']['forumdisplay_fastpost_upload_extend'])}-->
                            <!--{subtemplate common/upload}-->
                            <script>
                                var upload = new SWFUpload({
                                    upload_url: "{$_G[siteurl]}misc.php?mod=swfupload&action=swfupload&operation=upload&fid=$_G[fid]",
                                    post_params: {"uid" : "$_G[uid]", "hash":"$swfconfig[hash]"},
                                    file_size_limit : "$swfconfig[max]",
                                    file_types : "$swfconfig[attachexts][ext]",
                                    file_types_description : "$swfconfig[attachexts][depict]",
                                    file_upload_limit : $swfconfig['limit'],
                                    file_queue_limit : 0,
                                    swfupload_preload_handler : preLoad,
                                    swfupload_load_failed_handler : loadFailed,
                                    file_dialog_start_handler : fileDialogStart,
                                    file_queued_handler : fileQueued,
                                    file_queue_error_handler : fileQueueError,
                                    file_dialog_complete_handler : fileDialogComplete,
                                    upload_start_handler : uploadStart,
                                    upload_progress_handler : uploadProgress,
                                    upload_error_handler : uploadError,
                                    upload_success_handler : uploadSuccess,
                                    upload_complete_handler : uploadComplete,
                                    button_image_url : "{STATICURL}image/common/uploadbutton_small.png",
                                    button_placeholder_id : "spanButtonPlaceholder",
                                    button_width: 19,
                                    button_height: 30,
                                    button_cursor:SWFUpload.CURSOR.HAND,
                                    button_window_mode: "transparent",
                                    custom_settings : {
                                        progressTarget : "attachlist",
                                        uploadSource: 'forum',
                                        uploadType: 'attach',
                                        <!--{if $swfconfig['maxsizeperday']}-->
                                        maxSizePerDay: $swfconfig['maxsizeperday'],
                                        <!--{/if}-->
                                        <!--{if $swfconfig['maxattachnum']}-->
                                        maxAttachNum: $swfconfig['maxattachnum'],
                                        <!--{/if}-->
                                        uploadFrom: 'fastpost'
                                    },
                                    debug: false
                                });
                            </script>
                        <!--{else}-->
                            <!--{hook/forumdisplay_fastpost_upload_extend}-->
                        <!--{/if}-->
                    </div>
				</div>
			<!--{/if}-->
		</form>
	<!--{/if}-->
</div>