<div class="title trans-ease">
    <h2>{lang modcp_report}</h2>
    <span>
        <select name="fid" id="fid" change="location.href='{$cpscript}?mod=modcp&action=$_GET[action]&op=$op&fid='+$('fid').value">
            <option value="">{lang modcp_select_forum}</option>
            <!--{loop $modforums[list] $id $name}-->
            <option value="$id" {if $id == $_G[fid]}selected{/if}>$name</option>
            <!--{/loop}-->
        </select>
    </span>
</div>
<ol class="panel-container">
    <li class="box size-5-0 no-edge">
        <form method="post" autocomplete="off" action="{$cpscript}?mod=modcp&action=$_GET[action]">
            <input type="hidden" name="do" value="search">
            <input type="hidden" name="formhash" value="{FORMHASH}">
            <div class="input-group f">
                <script>simulateSelect('fid');</script>
                <span>{lang modcp_report_perpage}</span>
                <input type="text" name="lpp" value="$lpp"/>
                <i class="input-group-btn"><button value="true" id="searchsubmit" name="submit" type="submit">{lang submit}</button></i>
            </div>
        </form>
    </li>
	<!--{if !empty($reportlist)}-->
    <li class="box size-10-0 no-edge">
		<form id="reportform" method="post" autocomplete="off" action="{$cpscript}?mod=modcp&action=report&fid=$_G[fid]">
			<input type="hidden" name="formhash" value="{FORMHASH}">
            <div class="waterfall" id="reports">
                <ul class="hidden" id="report_source">
                    <!--{loop $reportlist $report}-->
                    <li>
                        <div class="reporter">
                            <a class="avatar" href="home.php?mod=space&uid=$report[uid]"><!--{echo avatar($member[uid], 'big');}--></a>
                            <a class="name" href="home.php?mod=space&uid=$report[uid]">$report[username]</a>
                            <span class="time">$report[dateline]</span>
                        </div>
                        <article class="reporturl">
                            <span>{lang modcp_report_post}：</span>
                            <p><a href="$report[url]" target="_blank">$report[url]</a></p>
                            <span>{lang modcp_report_reason}：</span>
                            <p>$report[message]</p>
                        </article>
                        <div class="item-footer csbox">
                            <!--{if $report_reward['max'] != $report_reward['min']}-->
                            <span>{lang modcp_report_reward}<select name="creditsvalue[{$report[id]}]">$rewardlist</select>$_G['setting']['extcredits'][$curcredits]['title']</span>
                            <!--{/if}-->
                            <input id="reportuids_$report[id]" type="hidden" name="reportuids[{$report[id]}]" value="$report[uid]" />
                            <input id="report_$report[id]" type="checkbox" class="checkbox" name="reportids[]" value="$report[id]" />
                            <label class="r align-center" for="report_$report[id]"></label>
                            <textarea class="delcover" name="msg[{$report[id]}]" placeholder="{lang modcp_report_note}"></textarea>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
                <script>swaterfall('#reports','#report_source','report')</script>
            </div>
            <div class="common-btn">
                <input type="checkbox" name="chkall" id="chkall" class="checkbox" onclick="checkall($('reportform'), 'report')" />
                <label for="chkall">{lang select_all}</label>
                <button class="ft-target" type="submit" name="reportsubmit" id="reportsubmit" value="true"></button>
            </div>
		</form>
		<!--{if !empty($multipage)}--><div class="pg type-3">$multipage</div><!--{/if}-->
    </li>
	<!--{else}-->
		<li class="box size-5-0 alert hi-info">{lang modcp_report_nothing}</li>
	<!--{/if}-->
</ol>