<!--{if $post['message']}-->
    <div class="trade-info" id="postmessage_$post[pid]">
        $post[message]
    </div>
<!--{/if}-->

<div class="storage">
    <div class="header">
        <!--{if count($trades) > 1 || ($_G['uid'] == $_G['forum_thread']['authorid'] || $_G['group']['allowedittrade'])}-->
            <!--{if !$_G['forum_thread']['is_archived'] && ($_G['uid'] == $_G['forum_thread']['authorid'] || $_G['group']['allowedittrade'])}-->
                <span class="ltitle">{lang trade_list}</span>
                <a class="mag-btn r" href="forum.php?mod=misc&action=tradeorder&tid=$_G[tid]{if !empty($_GET['from'])}&from=$_GET['from']{/if}" onclick="showWindow('tradeorder', this.href)"><i class="awe-reorder "></i><i class="num">$tradenum</i></a>
                <!--{if $_G['uid'] == $_G['forum_thread']['authorid']}-->
                    <!--{if $_G['group']['allowposttrade']}-->
                    <a href="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]&firstpid=$post[pid]&addtrade=yes{if !empty($_GET['from'])}&from=$_GET['from']{/if}">{lang trade_add_post}</a>
                    <!--{/if}-->
                    <a onclick="window.open('home.php?mod=space&uid=$_G[uid]&do=trade&view=tradelog','','');return false;">{lang my_trade_stat}</a>
                <!--{/if}-->
                <!--{if !$post['message'] && (($_G['forum']['ismoderator'] && $_G['group']['alloweditpost'] && (!in_array($post['adminid'], array(1, 2, 3)) || $_G['adminid'] <= $post['adminid'])) || ($_G['forum']['alloweditpost'] && $_G['uid'] && ($post['authorid'] == $_G['uid'] && $_G['forum_thread']['closed'] == 0)))}-->
                    <a href="forum.php?mod=post&action=edit&fid=$_G[fid]&tid=$_G[tid]&pid=$post[pid]{if !empty($_GET[modthreadkey])}&modthreadkey=$_GET[modthreadkey]{/if}&page=$page">{lang post_add_aboutcounter}</a>
                <!--{/if}-->
            <!--{else}-->
                <p class="mag-btn r"><i class="icon-menu "></i><i class="num">$tradenum</i></p>
                <p class="">{lang trade_list}</p>
            <!--{/if}-->
        <!--{/if}-->
    </div>
    <!--{if $tradenum}-->
        <!--{if $trades}-->
            <ul class="goods">
                <!--{loop $trades $key $trade}-->
                    <!--{if $tradepostlist[$trade[pid]]['invisible'] != 0}-->
                        <li class="item">{lang post_trade_removed}</li>
                    <!--{else}-->
                        <li id="trade$trade[pid]"></li>
                        <li id="tradeinfo$trade[pid]" class="item"></li>
                        <script>display('trade$trade[pid]');ajaxget('forum.php?mod=viewthread&do=tradeinfo&tid=$_G[tid]&pid=$trade[pid]<!--{if !empty($_GET[modthreadkey])}-->&modthreadkey=$_GET[modthreadkey]<!--{/if}-->','tradeinfo$trade[pid]','tradeinfo$trade[pid]')</script>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>
        <!--{/if}-->
    <!--{else}-->
        <div class="locked">{lang trade_nogoods}</div>
    <!--{/if}-->
</div>