/*----------
|   Basic  |
|-----------
|  This Is A Simple Bootstrap Write For WebPages Of StarsRiver
|  This Is Not A Free Soft Coded For StarsRiver Writed By ZhangYu CopyRight 2017-2050
-----------------------------------------------------------------------------------------------------------------------*/

/*region Scroll Fix*/
@-webkit-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

::-webkit-scrollbar {
    width: 2px;
    height: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

* {
    scrollbar-arrow: hidden;
    scrollbar-arrow-color: #fff;
    scrollbar-face-color: #e6e6e6;
    scrollbar-darkshadow-color: #fff;
    scrollbar-highlight-color: #fff;
    scrollbar-3dlight-color: #fff;
    scrollbar-shadow-color: #fff;
    scrollbar-track-color: #fff;
}

* {
    font-family: Muli, Helvetica, Arial, sans-serif, Material, Feather, Awesome, Icomoon, Discuz-Editor !important;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none !important;
    outline: none !important;
    vertical-align: top;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    overflow-x: hidden;
    background: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 50px;
}


.login .background .layout0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.login .background .layout1 {
    position: fixed;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}

.login form {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(-39%, -50%);
    background: #ffffff;
    padding: 42px 42px 54px 42px;
    border-radius: 18px;
    box-shadow: 0 3px 15px rgba(101,119,134,0.3) , 0 0 30px #fff;
}
.login form .formhead {
    font-size: 22px;
    font-weight: 700;
    color: #39c5bb;
    margin-top: 0;
}

.login form .administratorname,
.login form input[type='text'],
.login form input[type='password'],
.login form select{
    width: 240px;
    height: 45px;
    display: block;
    box-sizing: border-box;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: left;
    padding: 0 10px;
    border-radius: 6px;
    border: 0;
    box-shadow:inset 0 0 0 50px #fff, 0 0 0 2px #eaeaea;
    transition: .1s ease-in-out;
    color: #999;
}
.login form .administratorname{
    box-shadow: inset 0 0 0 50px #f3f3f3, 0 0 0 2px #eaeaea !important;
    color: #999;
    pointer-events: none;
}

.login form input[type='text']:hover,
.login form input[type='password']:hover,
.login form select:hover{
    box-shadow:inset 0 0 0 50px #fff, 0 0 0 2px rgba(57, 197, 187, 0.8), 0 0 0 4px rgba(57, 197, 187, 0.15);
}

.login button{
    cursor: pointer;
    width:240px;
    height:40px;
    box-sizing: border-box;
    float: left;
    font-size: 15px !important;
    color: #fff !important;
    border: none;
    background: #39c5bb;
    border-radius: 6px;
    transition: .1s ease-in-out;
    box-shadow:0 0 0 2px rgba(57, 197, 187, 1);
}
.login form button:hover{
    box-shadow:0 0 0 2px rgb(50, 170, 162), 0 0 0 4px rgba(57, 197, 187, 0.3);
}

@media screen and (max-width:576px) {
    .login form {
        display: inline-block;
        position: fixed;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        background: #ffffff;
        padding: 42px 42px 54px 42px;
        border-radius: 18px;
        box-shadow: 0 3px 15px rgba(101,119,134,0.3), 0 0 30px #fff;
    }
    .login .background .layout1 {
         transform: translate(-50%, -50%);
     }
}

