<link rel="stylesheet" type="text/css" href='{$_G['setting']['csspath']}editor.css?{VERHASH}' />
<script src="{$_G['setting']['jspath']}editor.js?{VERHASH}"></script>
<script src="{$_G['setting']['jspath']}bbcode.js?{VERHASH}"></script>
<script>
	var editorid = '$editorid';
	var textobj = $(editorid + '_textarea');
	var wysiwyg = (BROWSER.ie || BROWSER.firefox || (BROWSER.opera >= 9)) && parseInt('$editor[editormode]') == 1 ? 1 : 0;
	var allowswitcheditor = parseInt('$editor[allowswitcheditor]');
	var allowhtml = parseInt('$editor[allowhtml]');
	var allowsmilies = parseInt('$editor[allowsmilies]');
	var allowbbcode = parseInt('$editor[allowbbcode]');
	var allowimgcode = parseInt('$editor[allowimgcode]');
	var simplodemode = parseInt('<!--{if $editor[simplemode] > 0}-->1<!--{else}-->0<!--{/if}-->');
	var fontoptions = new Array({lang e_fontoptions});
	var smcols = $_G['setting']['smcols'];
	var custombbcodes = [];
	<!--{if $_G['cache']['bbcodes_display'][$_G['groupid']]}-->
		<!--{loop $_G['cache']['bbcodes_display'][$_G['groupid']] $tag $bbcode}-->
			custombbcodes["$tag"] = {'prompt' : '$bbcode[prompt]'};
		<!--{/loop}-->
	<!--{/if}-->
</script>

<div class="tipbar" id="{$editorid}_bbar" >
	<em id="{$editorid}_tip"></em>
	<!--{if $editor[allowtopicreset]}-->
		<a class="r" onclick="discuzcode('tpr');return false;" id="{$editorid}_tpr">{lang post_topicreset}</a>
	<!--{/if}-->
	<!--{if $editor[allowresize]}-->
		<img class="resize" src="{IMGURL}/common/icon/resize.svg" onmousedown="editorresize(event)" />
	<!--{/if}-->
	<!--{if $editor[allowchecklength]}-->
		<a class="r" onclick="discuzcode('chck');return false;" id="{$editorid}_chck">{lang post_check_length}</a>
	<!--{/if}-->
	<a class="r" onclick="discuzcode('rst');return false;" id="{$editorid}_rst">{lang post_autosave_restore}</a>
	<a class="r" onclick="discuzcode('svd');return false;" id="{$editorid}_svd">{lang post_savedata}</a>
	<span class="r" id="{$editorid}_svdsecond"></span>
</div>