<ul class="timeline">
    <li class="timeline-node">
    <div class="timeline-node-left">
        <i class="time-A">? / ? / ?</i>
        <i class="time-B">? : ?</i>
        <div class="user-tag">
            <a class="avatar"><!--{avatar(0,'small')}--></a>
            <a class="username">————</a>
        </div>
    </div>
    <div class="timeline-node-right">
        <div class="s-top">
            <i class="title">{lang nomore}</i>
        </div>
        <div class="s-center">
            <div class="message">{lang global_nothing}</div>
        </div>
    </div>
    </li>
</ul>
<div class="page" id="pager_doing">
    <p class="nomore">{lang nomore}</p>
</div>