<!--{subtemplate home/space_home__header}-->
<div class="mas-viewer grid-mode">
    <div class="mas-viewer-header">
        <!--{template home/space_home__header_userabout_sample}-->
    </div>
    <div class="mas-viewer-container" id="userspace_album">
        <album-viewer>
            <!--{eval $_G['home_tpl_titles'] = [$album['albumname'], '{lang album}'];}-->
            <!--{eval $friendsname = [1 => '{lang friendname_1}',2 => '{lang friendname_2}',3 => '{lang friendname_3}',4 => '{lang friendname_4}'];}-->

            <div class="album-viewer-element-terminal">
                <terminal-left>
                    <div class="album-viewer-element-title">
                        {$space[username]}{lang de}{lang album}: <span>$album[albumname]</span>
                        <!--{if $album['catname']}-->
                            <tag><a href="home.php?mod=space&do=album&catid=$album[catid]&view=all">{lang system_cat}:$album[catname]</a></tag>
                        <!--{/if}-->
                        <!--{if $album['friend']}-->
                            <tag>{$friendsname[$value[friend]]}</tag>
                        <!--{/if}-->
                    </div>
                    <div class="album-viewer-element-counter">
                        <!--{if $album[picnum]}-->$album[picnum]<!--{else}-->0<!--{/if}--><span> {lang album_pics}</span>
                    </div>
                </terminal-left>
                <terminal-right>
                    <!--{hook/space_album_op_extra}-->

                    <!--{if ($_G[uid] == $album[uid] || checkperm('managealbum')) && $album[albumid] > 0}-->
                        <a class="icon delete ft-trash" id="album_delete_$album[albumid]" onclick="showWindow(this.id, 'home.php?mod=spacecp&ac=album&op=delete&albumid=$album[albumid]&uid=$album[uid]&handlekey=delalbumhk_{$album[albumid]}', 'get', 0);" title="{lang delete}"></a>
                        <b class="seperate-line"></b>
                    <!--{/if}-->

                    <!--{if $space[self] && helper_access::check_module('album')}-->
                        <a class="icon upload ft-arrow-up" href="home.php?mod=spacecp&ac=upload" title="{lang upload_pic}"></a>
                        <a class="icon edit ft-edit-3" href="{if $album[albumid] > 0}home.php?mod=spacecp&ac=album&op=edit&albumid=$album[albumid]{else}home.php?mod=spacecp&ac=album&op=editpic&albumid=0{/if}" title="{lang edit}"></a>
                        <b class="seperate-line"></b>
                    <!--{/if}-->

                    <!--{if $_G[uid] != $album[uid]}-->
                        <a class="icon report ft-alert-octagon" onclick="showWindow('miscreport$album[albumid]', 'misc.php?mod=report&rtype=album&uid=$album[uid]&rid=$album[albumid]', 'get', -1);return false;" title="{lang report}"></a>
                    <!--{/if}-->
                    <!--{if helper_access::check_module('share')}-->
                        <a class="icon share ft-share-2" id="a_share" onclick="showWindow(this.id, 'home.php?mod=spacecp&ac=share&type=album&id=$album[albumid]&handlekey=sharealbumhk_{$album[albumid]}', 'get', 0);" title="{lang share}"></a>
                    <!--{/if}-->
                    <!--{if $album[albumid]>0}-->
                        <a class="icon like ft-heart" id="a_favorite" onclick="showWindow(this.id, 'home.php?mod=spacecp&ac=favorite&type=album&id=$album[albumid]&spaceuid=$space[uid]&handlekey=sharealbumhk_{$album[albumid]}', 'get', 0);" title="{lang favorite}"></a>
                    <!--{/if}-->
                </terminal-right>
            </div>
            <div class="album-viewer-element-desc">
                <!--{if $album[depict]}-->$album[depict]<!--{else}-->{lang no_pics_desc}<!--{/if}-->
            </div>

            <!--{if $pricount}-->
                <div class="album-viewer-element-alert alert hi-info with-border">{lang hide_pic}</div>
            <!--{/if}-->

            <!--{if $list}-->
                <div class="album-viewer-element-images panel">
                    <ul class="panel-container">
                        <!--{loop $list $key $value}-->
                        <li class="box size-undefined rec-img album-viewer-element-img" style="background-image: url($value[pic])">
                            <img src="{LIBURL}/img/row-e-col/1.1.png" alt="">
                            <a class="cover-layer album-viewer-element-img-info" href="home.php?mod=space&uid=$value[uid]&do=$do&picid=$value[picid]">
                                <!--{if $value[status] == 1}--><tag class="album-viewer-element-img-info-censor">{lang moderate_need}</tag><!--{/if}-->
                                <dec  class="album-viewer-element-img-info-shadow"></dec>
                                <span  class="album-viewer-element-img-info-name"><!--{if $value['title']}-->{$value['title']}<!--{else}-->{$value['filename']}<!--{/if}--></span>
                                <span  class="album-viewer-element-img-info-hot mt-whatshot">{$value['hot']}</span>
                            </a>
                        </li>
                        <!--{/loop}-->
                    </ul>
                </div>
                <!--{if $multi}--><div class="album-viewer-element-pagination">$multi</div><!--{/if}-->
            <!--{else}-->
                <div class="album-viewer-element-empty">{lang no_pics}</div>
            <!--{/if}-->
        </album-viewer>
    </div>
</div>
<!--{template common/footer}-->