<!--{if helper_access::check_module('share') && $space[self]}-->
    <!--{template home/space_trends_share_mod_form}-->
<!--{/if}-->

<!--{template home/space_trends_share_mod_nav}-->

<!--{if $list}-->
    <ul id="share_list">
        <!--{loop $list $k $value}-->
            <!--{subtemplate home/space_trends_share_mod_li}-->
        <!--{/loop}-->
    </ul>
    <!--{if $pricount}-->
        <p class="vessel alert hi-warning">{lang hide_share}</p>
    <!--{/if}-->
    <!--{if $multi}--><div class="pg">$multi</div><!--{/if}-->
<!--{else}-->
    <ul id="share_list"></ul>
    <div class=" vessel withedge">
        <p class="global_nothing">{lang global_nothing}</p>
    </div>
<!--{/if}-->
