<!--{eval $encodeusername = rawurlencode($space[username]);}-->
<div class="space-head">
    <div class="bank type-scroll">
        <span class="avatar"><!--{avatar($space[uid])}--></span>
        <span class="username">$space[username]<i class="tag">UID: $space[uid]</i></span>
        <div class="btn-group">
            <!--{if $space[uid] == $_G[uid]}-->
                <a class="bit-build" href="home.php?mod=space&do=index&nest=yes"><span class="tooltip" data-pos="bl">{lang nest_space}</span></a>
                <!--{if helper_access::check_module('wall')}-->
                    <a class="icon-mail2" href="home.php?mod=space&do=wall"><span class="tooltip" data-pos="bl">{lang view_message}</span></a>
                <!--{/if}-->
                <a class="icon-camera" href="home.php?mod=spacecp&ac=avatar"><span class="tooltip" data-pos="bl">{lang edit_avatar}</span></a>
                <a class="icon-profile" href="home.php?mod=spacecp&ac=profile"><span class="tooltip" data-pos="bl">{lang update_profile}</span></a>
            <!--{else}-->
                <!--{eval require_once libfile('function/friend');$isfriend=friend_check($space[uid]);}-->
                <!--{if !$isfriend}-->
                    <a class="icon-user-plus" style="background: var(--color-hat-green)"  href="home.php?mod=spacecp&ac=friend&op=add&uid=$space[uid]&handlekey=addfriendhk_{$space[uid]}" id="a_friend_li_{$space[uid]}" onclick="showWindow(this.id, this.href, 'get', 0);"><span class="tooltip" data-pos="bl">{lang add_friend}</span></a>
                <!--{else}-->
                    <a class="icon-user-minus" style="background: var(--color-heart-pink)" href="home.php?mod=spacecp&ac=friend&op=ignore&uid=$space[uid]&handlekey=ignorefriendhk_{$space[uid]}" id="a_ignore_{$space[uid]}" onclick="showWindow(this.id, this.href, 'get', 0);"><span class="tooltip" data-pos="bl">{lang ignore_friend}</span></a>
                <!--{/if}-->
                <!--{if helper_access::check_module('follow')}-->
                    <a class="icon-newspaper" href="home.php?mod=follow&uid=$space[uid]&do=view"><span class="tooltip" data-pos="bl">{lang follow_view_feed}</span></a>
                <!--{/if}-->
                <!--{if helper_access::check_module('wall')}-->
                    <a class="icon-mail2" href="home.php?mod=space&uid=$space[uid]&do=wall"><span class="tooltip" data-pos="bl">{lang connect_me}</span></a>
                <!--{/if}-->
                <a class="icon-wink2" href="home.php?mod=spacecp&ac=poke&op=send&uid=$space[uid]&handlekey=propokehk_{$space[uid]}" id="a_poke_{$space[uid]}" onclick="showWindow(this.id, this.href, 'get', 0);"><span class="tooltip" data-pos="bl">{lang say_hi}</span></a>
                <a class="icon-bubbles3" href="home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_$space[uid]&touid=$space[uid]&pmid=0&daterange=2" id="a_sendpm_$space[uid]" onclick="showWindow('showMsgBox', this.href, 'get', 0)"><span class="tooltip" data-pos="bl">{lang send_pm}</span></a>
            <!--{/if}-->
        </div>
    </div>
</div>