<div class="whitespace cn">
    <!--{if $list}-->
        <ul class="timeline">
            <li class="node">
                <!--{loop $list $day $value}-->
                    <!--{template home/space_home_home_mod_li}-->
                <!--{/loop}-->
            </li>
        </ul>
        <div class="page" id="pager_home">
            <!--{if $multi}-->
                $multi
            <!--{else}-->
                <p class="nomore">{lang nomore}</p>
            <!--{/if}-->
        </div>
    <!--{elseif $feeds}-->
        <ul class="timeline">
            <li class="node">
                <!--{loop $feeds $feed}-->
                    <!--{template home/space_home_home_mod_li}-->
                <!--{/loop}-->
            </li>
        </ul>
        <div class="page" id="pager_home">
            <!--{if $multi}-->
                $multi
            <!--{else}-->
                <p class="nomore">{lang nomore}</p>
            <!--{/if}-->
        </div>
    <!--{else}-->
        <!--{template home/space_home__mod_timeline_empty}-->
    <!--{/if}-->
    <script>
        addEvent(document,'DOMContentLoaded',function () {
            let postform = SR('#doing_deliver')[0],
                page = SR('#pager_home')[0],
                scrltem = 0,
                positionfix = function (){
                    if(SRGlobal.Window.Width <= 1680){
                        postform.style = '';
                        if(SRGlobal.Window.Scroll.DirY === 'down'){
                            scrltem = SRGlobal.Window.Scroll.Top;
                            if(page) page.addClass('sleep');
                            if(postform) postform.addClass('sleep');
                        } else if(scrltem - SRGlobal.Window.Scroll.Top > Math.min(640, MasElements.viewer.scrollHeight - SRGlobal.Window.Height - 20)) {
                            if(page) page.delClass('sleep');
                            if(postform) postform.delClass('sleep');
                        }
                    }
                },

                Tl = SR('.timeline')[0],
                Ts = SR('.time-A'),
                Th = Ts[0].Css.height,
                TsOn = function (){
                    for (let i=0 ; i <Ts.length; i++){
                        if(Ts[i].parentNode.Css.top < 82 && (isUndefined(Ts[i+1]) || Ts[i+1].parentNode.Css.top > 82)){
                            Ts[i].style = 'position: fixed; top: 82px;';
                            Ts[i].parentNode.style = 'padding-top:' + Th + 'px;';
                        } else {
                            Ts[i].style = Ts[i].parentNode.style = '';
                        }
                    }
                };

            if(MasElements.viewer.scrollHeight <= SRGlobal.Window.Height){
                Tl.style.marginBottom = '200px';
            }

            if(page) page.addClass('sleep');
            if(postform) postform.addClass('sleep');

            addEvent(MasElements.viewer,'scroll',TsOn);
            addEvent(MasElements.viewer,'scroll',positionfix);
        });
    </script>
</div>
<div class="vessel" id="ajax_wait"></div>
<!--{hook/space_trends_bottom}-->