<div class="vessel withedge">
	<form class="flow-deliver" id="shareform" name="shareform" action="home.php?mod=spacecp&ac=share&type=link&view=$_GET[view]&from=$_GET[from]" method="post" autocomplete="off">
		<input type="hidden" name="referer" value="home.php?mod=space&uid=$space[uid]&do=share&view=me&from=space&quickforward=1" />
		<input type="hidden" name="sharesubmit" value="true" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<!--{if $_GET[view] == 'me'}--><input type="hidden" name="handlekey" value="shareadd" /><!--{/if}-->
		<input class="extro" type="text" name="link" id="share_link" placeholder="{lang share_web_music_flash}"/>
		<textarea name="general" id="share_general" onkeydown="ctrlEnter(event, 'sharesubmit_btn')" placeholder="{lang description}"></textarea>
		<div class="subline">
			<a onclick="showDialog('{lang how_to_share_tips}', 'notice', '{lang share_description}', '', '', '', '');"><img src="{IMGURL}/common/mark/faq.svg" alt="faq" class="svgicon small" /></a>
			<button class="submit r" type="submit" name="sharesubmit_btn" id="sharesubmit_btn" value="true">{lang share}</button>
			<!--{if $secqaacheck || $seccodecheck}-->
				<!--{subtemplate common/seccheck}-->
			<!--{/if}-->
		</div>
	</form>
</div>