<!--{template home/spacecp_cent__header}-->
	<div class="plate layout-2-type3 app-profile cloud">
		<section class="col-1"><!--{template home/spacecp_cent_vnav}--></section>
		<section class="col-2">
			<!--{subtemplate home/spacecp_cent__header_userinfo}-->
			<!--{if $op == 'credit'}-->
			<div class="vessel" id="setting_plugin_credit">
				<!--{template home/spacecp_cent_credit_info}-->
			</div>
			<!--{/if}-->
			<!--{eval include(template($_GET['id']));}-->
		</section>
	</div>
<!--{template common/footer}-->