<!--{if empty($_GET['uid'])}-->
    <!--{subtemplate home/space_trends__header}-->
    <div class="plate layout-3-type2 app-dynamic soft">
        <section>
            <!--{subtemplate home/space_trends__side_left}-->
        </section>
        <section>
            <!--[nest=nest1]--><div id="nest1" class="area"></div><!--[/nest]-->
            <!--[nest=nest2]--><div id="nest2" class="area"></div><!--[/nest]-->
            <!--[nest=nest3]--><div id="nest3" class="area"></div><!--[/nest]-->

            <!--[nest=nestcontenttop]--><div id="nestcontenttop" class="area"></div><!--[/nest]-->
            <!--{template home/space_trends_follow_mod_form}-->
            <!--{hook/follow_top}-->
            <div class="vessel">
                <div class="nav">
                    <a class="$actives[other]" href="home.php?mod=follow&view=other">{lang follow_hall}</a>
                    <a class="$actives[follow]" href="home.php?mod=follow&view=follow">{lang follow_following}</a>
                    <a class="$actives[special]" href="home.php?mod=follow&view=special">{lang follow_special_following}</a>
                    <!--{hook/follow_nav_extra}-->
                </div>
            </div>
            <!--{template home/space_trends_follow}-->
            <!--[nest=nestcontentbottom]--><div id="nestcontentbottom" class="area"></div><!--[/nest]-->
        </section>
        <section>
            <!--{subtemplate home/space_trends__side_right}-->
        </section>
    </div>
<!--{else}-->
    <!--{subtemplate home/space_home__header}-->
    <div class="mas-viewer">
        <div class="mas-decorator"><img src="{IMGURL}/home/bg-calendar-2016.svg" alt=""></div>
        <div class="mas-viewer-header">
            <!--{hook/follow_top}-->
            <!--{subtemplate home/space_home__header_userabout}-->
        </div>
        <div class="mas-viewer-container" id="userspace_follow">
            <!--{template home/space_home_follow}-->
        </div>
    </div>
<!--{/if}-->

<!--{template common/footer}-->
