<!--{if !empty($list['feed'])}-->
    <div id="followlist">
        <!--{eval $beforeuser = 0; $hiddennum = 0; $carray = array();}-->
        <!--{loop $list['feed'] $feed}-->
            <!--{subtemplate home/space_trends_follow_mod_li}-->
        <!--{/loop}-->
    </div>
    <div class="loading">
        <!--{if count($list['feed']) > 19 && ($archiver || $primary)}-->
            <div id="loadingfeed"><a onclick="loadmore();return false;">{lang follow_more}</a></div>
        <!--{/if}-->
        <iframe id="downloadframe" name="downloadframe" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank"></iframe>
        <script>
            function succeedhandle_attachpay(url, msg, values) {
                hideWindow('attachpay');
                window.location.href = url;
                //$('downloadframe').src = url;
            }
        </script>
    </div>
<!--{else}-->
    <div class="vessel withedge">
        <div class="global_nothing">
            <!--{if $viewself}-->{lang follow_following_null}<!--{else}-->{lang follow_no_content}<!--{/if}-->
            <!--{if $do == 'feed' && $view == 'special'}--><p>{lang follow_add_special_tip}<a href="home.php?mod=follow&do=following&uid=$uid">{lang follow_add_special_following}</a></p><!--{/if}-->
        </div>
    </div>
    <!--{if !empty($recommend) && $showrecommend && $view != 'special'}-->
        <!--{eval $showrecommend = false;}-->
        <h3>{lang follow_recommend}</h3>
        <!--{loop $recommend $ruid $rusername}-->
        <div class="vessel withedge">
            <a href="home.php?mod=space&uid=$ruid" class="avatar" c="1" shref="home.php?mod=space&uid=$ruid"><!--{avatar($ruid,small)}--></a>
            <a href="home.php?mod=space&uid=$ruid" style="text-decoration: none !important;">$rusername</a>
            <!--{if helper_access::check_module('follow')}-->
            <a id="stared_{$ruid}" href="home.php?mod=spacecp&ac=follow&op=add&hash={FORMHASH}&fuid=$ruid&from=block" onclick="ajaxget(this.href);doane(event);" style="text-decoration: none !important;">{lang follow_add}</a>
            <!--{/if}-->
        </div>
        <!--{/loop}-->
    <!--{/if}-->
<!--{/if}-->

<!--{if count($list['feed']) > 19 && ($archiver || $primary)}-->
    <script>
        var scrollY = 0;
        var page = 2;
        var feedInfo = {scrollY: 0, archiver: $archiver, primary: $primary, query: true, scrollNum:1};
        var loadingfeed = $('loadingfeed');

        function loadmore() {
            var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
            var sHeight = document.documentElement.scrollHeight;
            if(currentScroll >= scrollY && currentScroll > (sHeight/5-5) && (feedInfo.primary ||feedInfo.archiver) && feedInfo.query) {
                /*
                if(feedInfo.scrollNum) {
                    loadingfeed.className="flw_loading hm vm";
                    loadingfeed.innerHTML = "<img src=\"{STATICURL}image/common/loading.gif\" class=\"vm\" /> {lang follow_loading}";
                }
                */
                feedInfo.query = false;
                var archiver = 0;
                if(feedInfo.primary) {
                    archiver = 0;
                } else if(feedInfo.archiver) {
                    archiver = 1;
                }
                var url = 'home.php?mod=spacecp&ac=follow&op=getfeed&archiver='+archiver+'&page='+page+'&inajax=1'<!--{if $do == 'feed'}-->+'&viewtype=$view'<!--{elseif $do == 'view'}-->+'&uid=$uid&banavatar=1'<!--{/if}-->;
                var x = new Ajax();
                x.get(url, function(s) {
                    if(trim(s) == 'false') {
                        if(!archiver) {
                            feedInfo.primary = false;
                            loadmore();
                            page = 1;
                        } else {
                            feedInfo.archiver = false;
                            page = 1;
                        }
                    } else {
                        $('followlist').innerHTML = $('followlist').innerHTML + s;
                    }
                    if(!feedInfo.primary && !feedInfo.archiver) {
                        loadingfeed.className = "";
                        loadingfeed.innerHTML = "";
                    }
                    feedInfo.query = true;
                });
                page++;
                if(feedInfo.scrollNum) {
                    feedInfo.scrollNum--;
                } else if(!feedInfo.scrollNum) {
                    window.onscroll = null;
                }

            }
            scrollY = currentScroll;
        }

        window.onload = function() {
            scrollY =  document.documentElement.scrollTop || document.body.scrollTop;
            window.onscroll = loadmore;
        }
    </script>
<!--{/if}-->

	<script>
		var boxflag = {};
		var parentReplyId = '';
		function quickreply(fid, tid, feedid) {
			$('relaybox_'+feedid).style.display = 'none';
			var replyboxid = 'replybox_'+feedid;
			if(parentReplyId && parentReplyId != feedid) {
				var oldbox = $('replybox_'+parentReplyId);
				oldbox.innerHTML = '';
				oldbox.style.display = 'none';
			}
			if($(replyboxid).style.display == '' && boxflag[replyboxid]) {
				$(replyboxid).style.display = 'none';
			} else {
				boxflag[replyboxid] = true;
				ajaxget('forum.php?mod=ajax&action=quickreply&tid='+tid+'&fid='+fid+'&handlekey=qreply_'+feedid+'&feedid='+feedid, replyboxid);
				$(replyboxid).style.display = '';
			}
			parentReplyId = feedid;
		}
		function quickrelay(feedid, tid) {
			$('replybox_'+feedid).style.display = 'none';
			var replyboxid = 'relaybox_'+feedid;
			if($(replyboxid).style.display == '') {
				$(replyboxid).style.display = 'none';
			} else {
				ajaxget('home.php?mod=spacecp&ac=follow&op=relay&feedid='+feedid+'&tid='+tid+'&handlekey=qrelay_'+feedid, replyboxid);
				$(replyboxid).style.display = '';
			}
		}

        function changefeed(tid, pid, flag, obj) {
            var x = new Ajax();
            var o = obj.parentNode;
            x.get('forum.php?mod=ajax&action=getpostfeed&inajax=1&tid='+tid+'&pid='+pid+'&type=changefeed&flag='+flag, function(s){
                o.innerHTML = s;
            });
        }
	</script>


<!--{if $showguide && $do == 'feed'}-->
	<div id="nv_menu" style="display:none; position: fixed; top:50%; margin-top: -250px;">
		<div>
			<img src="{STATICURL}image/common/flw_guide.png"/>
			<button style="margin: -50px 0 20px 430px;" onclick="hideMenu()"><span>{lang follow_i_know}</span></button>
		</div>
	</div>
	<script>
		showMenu({'ctrlid':'nv','pos':'13','cover':'1'});
	</script>
<!--{/if}-->