<!--{eval $_G['home_tpl_titles'] = array('{lang message}');}-->

<!--{subtemplate home/space_home__header}-->
<div class="mas-viewer">
    <div class="mas-viewer-header">
        <!--{subtemplate home/space_home__header_userabout}-->
    </div>
    <div class="mas-viewer-container" id="userspace_wall">
        <div class="wall">
            <div class="comments" id="div_main_content">
                <!--{if $cid}-->
                <p class="hi-warning with-border">{lang view_one_operation_message}，<a href="home.php?mod=space&uid=$space[uid]&do=wall">{lang click_view_message}</a></p>
                <!--{/if}-->

                <ol class="comments-list " id="comment_ul">
                    <!--{loop $list $k $value}-->
                        <!--{subtemplate home/space_home_wall_mod_li}-->
                    <!--{/loop}-->
                </ol>

                <div class="pgs">$multi</div>
            </div>

            <!--{subtemplate home/space_home_wall_mod_form}-->

            <script>
                var elems = selector('dd[class~=magicflicker]');
                for(var i=0; i<elems.length; i++){
                    magicColor(elems[i]);
                }
                function succeedhandle_qcwall_{$space[uid]}(url, msg, values) {
                    wall_add(values['cid']);
                }

                addEvent(document,'DOMContentLoaded',function () {
                    let wall = SR('.wall')[0],
                        postform = SR('#quickcommentform_{$space[uid]}')[0],
                        scrltem = 0,
                        positionfix = function (){
                        if(SRGlobal.Window.Width <= 1000){
                            postform.style = '';
                            if(SRGlobal.Window.Scroll.DirY === 'down'){
                                scrltem = SRGlobal.Window.Scroll.Top;
                                postform.addClass('sleep');
                            } else if(scrltem - SRGlobal.Window.Scroll.Top > Math.min(640, MasElements.viewer.scrollHeight - SRGlobal.Window.Height - 20)) {
                                postform.delClass('sleep');
                            }
                        }
                    };

                    if(MasElements.viewer.scrollHeight <= SRGlobal.Window.Height){
                        if(wall) wall.style.marginBottom = '160px';
                    } else {
                        if(postform) postform.addClass('sleep');
                    }
                   
                    addEvent(MasElements.viewer,'scroll',positionfix);
                });

            </script>
        </div>
    </div>
</div>

<!--{template common/footer}-->
