<a class="avatar" href="{if $user[uid]}home.php?mod=space&uid=$feed[uid]{/if}" target="_blank" c="1"><!--{avatar($feed[uid],small)}--></a>
<div class="header">
    <a class="type" href="home.php?mod=space&uid={$uid}&do=home&view=$_GET[view]&appid=$feed[appid]&icon=$feed[icon]"><img src="$feed[icon_image]"/></a>
    <a class="username" href="{if $user[uid]}home.php?mod=space&uid=$feed[uid]{/if}" target="_blank"><!--{if $feed[uid]}-->$feed[username]<!--{else}--><!--{/if}--></a>
    <!--{if empty($_G['home']['tpl'][hidden_hot]) && $feed[hot]}-->
    <a class="hot" href="home.php?mod=spacecp&ac=feed&feedid=$feed[feedid]"><em>$feed[hot]</em>{lang join_immediately}</a>
    <!--{/if}-->
    <p class="sub-line">
        <i class="str"><!--{date($feed[dateline], 'u')}--></i>
        <i class="str"><!--{if $feed['title_template']}-->$feed[title_template]<!--{/if}--></i>
    </p>
    <!--{if $_G['uid']}-->
    <div class="tool">
        <b class="dots"><i class="dot"></i><i class="dot"></i><i class="dot"></i></b>
        <span class="tooltip lt" data-ignore='1'>
            <a onclick="showWindow(this.id, 'home.php?mod=spacecp&ac=feed&op=menu&feedid=$feed[feedid]', 'get', 0);doane(event);">
                <!--{if $_G['uid'] == $feed[uid]}-->
                    {lang delete}
                <!--{else}-->
                    {lang shield}
                <!--{/if}-->
            </a>
        </span>
    </div>
    <!--{/if}-->
</div>
<div class="body $feed[magic_class]" id="feed_{$feed[feedid]}_li">
    <div class="content">
        <!--{if trim(str_replace('&nbsp;', '', $feed['body_general']))}-->
        <div class="message">$feed[body_general]</div>
        <!--{/if}-->

        <!--{if $feed['body_template']}-->$feed[body_template]<!--{/if}-->
            <div class="clear-objgap">
                <!--{if $feed['image_1']}--><a class="album-img" href="$feed[image_1_link]" {$feed[target]}><img src="$feed[image_1]"/></a><!--{/if}-->
                <!--{if $feed['image_2']}--><a class="album-img" href="$feed[image_2_link]" {$feed[target]}><img src="$feed[image_2]"/></a><!--{/if}-->
                <!--{if $feed['image_3']}--><a class="album-img" href="$feed[image_3_link]" {$feed[target]}><img src="$feed[image_3]"/></a><!--{/if}-->
                <!--{if $feed['image_4']}--><a class="album-img" href="$feed[image_4_link]" {$feed[target]}><img src="$feed[image_4]"/></a><!--{/if}-->
            </div>
            <!--{if !empty($feed['body_data']['flashvar'])}-->
            <!--{if !empty($feed['body_data']['imgurl'])}-->
                <table onclick="javascript:showFlash('{$feed['body_data']['host']}', '{$feed['body_data']['flashvar']}', this, '{$feed['feedid']}');">
                    <tr>
                        <td class="vdtn hm" style="background: url($feed['body_data']['imgurl']) no-repeat">
                            <img src="{STATICURL}image/common/vds.png" alt="{lang click_play}"/>
                        </td>
                    </tr>
                </table>
            <!--{else}-->
                <img src="{STATICURL}image/common/vd.gif" alt="{lang click_play}" onclick="javascript:showFlash('{$feed['body_data']['host']}', '{$feed['body_data']['flashvar']}', this, '{$feed['feedid']}');"/>
            <!--{/if}-->
        <!--{elseif !empty($feed['body_data']['musicvar'])}-->
            <a class="share-item-music" onclick="audioload('{$feed['body_data']['musicvar']}')"><i class="icon-play2"></i>{$feed['body_data']['musicname']}</a>
        <!--{elseif !empty($feed['body_data']['flashaddr'])}-->
            <img src="{STATICURL}image/common/flash.gif" alt="{lang click_view}" onclick="javascript:showFlash('flash', '{$feed['body_data']['flashaddr']}', this, '{$feed['feedid']}');"/>
        <!--{/if}-->
        <!--{if $user_list[$feed['hash_data']]}-->
        <p>{lang other_participants}:<!--{eval echo implode(', ', $user_list[$feed['hash_data']]);}--></p>
        <!--{/if}-->
    </div>
</div>
<div class="footer">
    <!--{if empty($_G['home']['tpl'][hidden_menu])}-->
        <!--{eval $_GET[key] = $key = random(8);}-->
        <!--{if $feed['idtype']=='doid'}-->
            <a class="icon mt-textsms reply" onclick="{if $_G['uid']}docomment_get('$feed[id]', '$key'){else}showWindow(this.id, 'home.php?mod=spacecp&ac=feed', 'get', 0);doane(event){/if}" id="{$_GET[key]}_do_a_op_$feed[id]"><span></span></a>
        <!--{elseif in_array($feed['idtype'], array('blogid','picid','sid','eventid'))}-->
            <a class="icon mt-textsms reply" onclick="{if $_G['uid']}feedcomment_get($feed[feedid]){else}showWindow(this.id, 'home.php?mod=spacecp&ac=feed', 'get', 0);doane(event){/if}" id="feedcomment_a_op_$feed[feedid]"><span></span></a>
        <!--{/if}-->
    <!--{/if}-->
</div>
<div class="flow-comment-list" id="{if $feed['idtype']=='doid'}{$key}_$feed[id]{elseif $feed['idtype']}feedcomment_$feed[feedid]{/if}" style="display:none;"></div>
