<div class="attitude-element-clicking">
	<!--{eval $clicknum = 0;}-->
	<!--{loop $clicks $key $value}-->
        <!--{eval $clicknum = $clicknum + $value['clicknum'];}-->
        <!--{eval $value['height'] = $maxclicknum?intval($value['clicknum']*50/$maxclicknum):0;}-->
        <click-item id="click_{$idtype}_{$id}_{$key}" onclick="{if $_G[uid]}ajaxmenu(this);{else}showWindow(this.id, 'home.php?mod=spacecp&ac=click&op=add&clickid=$key&idtype=$idtype&id=$id&hash=$hash&handlekey=clickhandle');{/if}doane(event);">
            <click-item-num><!--{if $value[clicknum]}-->{$value[clicknum]}<!--{else}-->0<!--{/if}--></click-item-num>
            <click-item-img><img src="{STATICURL}image/click/$value[icon]" alt="" /></click-item-img>
            <click-item-name>$value[name]</click-item-name>
        </click-item>
	<!--{/loop}-->
</div>

<script>
	function errorhandle_clickhandle(message, values) {
		if(values['id']) {
			showCreditPrompt();
			show_click(values['idtype'], values['id'], values['clickid']);
		}
	}
</script>

<!--{if $clickuserlist}-->
    <div>
        <span class="attitude-element-clicking-list-title">{lang position_friend}<a onclick="show_click('$idtype', '$id', '$key')">[{lang show}]</a></span>
        <!--{if $_G[magic][anonymous]}-->
            <img src="{STATICURL}image/magic/anonymous.small.gif" alt="anonymous"/>
            <a id="a_magic_anonymous" href="home.php?mod=magic&mid=anonymous&idtype=$idtype&id=$id" onclick="ajaxmenu(event,this.id, 1)">{$_G[magic][anonymous]}</a>
        <!--{/if}-->
        <div class="attitude-element-clicking-list">
            <!--{loop $clickuserlist $value}-->
                <!--{if $value[username]}-->
                    <a class="avatar" href="home.php?mod=space&uid=$value[uid]" target="_blank" title="$value[username]: $value[clickname]"><!--{avatar($value[uid], 'small')}--></a>
                <!--{else}-->
                    <a class="avatar" title="{lang anonymity}: $value[clickname]"><img src="{STATICURL}image/magic/hidden.gif"/></a>
                <!--{/if}-->
            <!--{/loop}-->
        </div>
    </div>
    <!--{if $click_multi}-->$click_multi<!--{/if}-->
<!--{/if}-->
