<!--{if $picmode}-->
	<!--{if $pricount}-->
        <div class="panel">
            <ul class="panel-container">
                <li class="box size-10-0">
                    <div class="alert hi-info with-border">{lang hide_pic}</div>
                </li>
            </ul>
        </div>
	<!--{/if}-->
	<!--{if $count}-->
        <!--[** search unfinished **]-->
		<div class="img-list" id="hotpic">
			<ul id="hotpic_source" hide>
				<!--{loop $list $key $value}-->
				<li>
					<a class="image" href="home.php?mod=space&uid=$value[uid]&do=album&picid=$value[picid]" target="_blank"><!--{if $value[pic]}--><img src="$value[pic]" alt="" /><!--{/if}--></a>
					<div class="pic-info">
						<a class="albumname r" href="home.php?mod=space&uid=$value[uid]&do=album&id=$value[albumid]" target="_blank">$value[albumname]</a>
					</div>
				</li>
				<!--{/loop}-->
			</ul>
			<script>swaterfall('#hotpic','#hotpic_source','vessel picitem',2);</script>
		</div>
		<!--{if $multi}--><div class="pgs">$multi</div><!--{/if}-->
	<!--{else}-->
        <div class="mas-nop">{lang global_nothing}</div>
	<!--{/if}-->
<!--{else}-->
    <div class="album-item-list panel">
        <ul class="panel-container">
            <!--{if $pricount}-->
                <li class="box size-10-0">
                    <div class="alert hi-info with-border">{lang hide_pic}</div>
                </li>
            <!--{/if}-->
            <!--{if $space[self] && $_GET['view']=='me'}-->
                <li class="box rec-img album-item">
                    <img src="{LIBURL}/img/row-e-col/1.1.png" alt="">
                    <div class="cover-layer imageGrid grid-{eval echo count($album0['imgs'])}">
                        <!--{eval $album_0_counter = 0;}-->
                        <!--{loop $album0['imgs'] $value}-->
                            <!--{eval $album_0_counter += 1;}-->
                            <i class="image rec-img nth-of-{$album_0_counter}" style="background-image: url({$value})">
                                <img src="{LIBURL}/img/row-e-col/1.1.png" alt="">
                            </i>
                        <!--{/loop}-->
                    </div>
                    <a class="cover-layer album-item-info" href="home.php?mod=space&uid=$value[uid]&do=album&id=-1">
                        <span class="album-item-info-num"><!--{if $album0['picnum']}-->$album0['picnum']<!--{else}-->0<!--{/if}-->&nbsp;{lang album_pics}</span>
                        <span class="album-item-info-name">{lang default_album}</span>
                    </a>
                </li>
            <!--{/if}-->
            <!--{if $list}-->
                <!--{loop $list $key $value}-->
                    <!--{eval $pwdkey = 'view_pwd_album_'.$value['albumid'];}-->
                    <li class="box rec-img album-item" style="background-image: url($value[pic])">
                        <img src="{LIBURL}/img/row-e-col/1.1.png" alt="">
                        <a class="cover-layer album-item-info " href="home.php?mod=space&uid=$value[uid]&do=album&id=$value[albumid]" onclick="{if $_G['adminid'] !== 1 && $value[uid]!==$_G[uid] && $value[friend]==='4' && $value[password] && empty($_G[cookie][$pwdkey])}showWindow('list_album_$value[albumid]', this.href, 'get', 0);{/if}" title="{lang update}：{date($value[updatetime], 'Y-n-j H:i')}">
                            <span class="album-item-info-num"><!--{if $value[picnum]}-->$value[picnum]<!--{else}-->0<!--{/if}-->&nbsp;{lang album_pics}</span>
                            <span class="album-item-info-name">$value[albumname]</span>
                        </a>
                    </li>
                <!--{/loop}-->
            <!--{/if}-->
        </ul>
    </div>
    <!--{if $multi}--><div class="pgs">$multi</div><!--{/if}-->
<!--{/if}-->