<!--{template common/header}-->
<!--{if $_GET['op'] == 'delete'}-->
	<form id="shareform_{$sid}" name="shareform_{$sid}" method="post" autocomplete="off" action="home.php?mod=spacecp&ac=share&op=delete&sid=$sid&type=$_GET[type]"  onsubmit="{if $_G[inajax] && $_GET[type]!='view'}ajaxpost(this.id, 'return_$_GET[handlekey]');{/if}">
		<input type="hidden" name="referer" value="{echo dreferer()}" />
		<input type="hidden" name="deletesubmit" value="true" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="handlekey" value="$_GET[handlekey]" />
		<div class="header">
			<span class="title-tip" id="return_$_GET[handlekey]">{lang delete_share}</span>
			<a onclick="hideWindow('$_GET['handlekey']');" class="close" title="{lang close}">×</a>
		</div>
		<div class="body">
			{lang delete_share_message}
		</div>
		<div class="footer">
			<button class="btn-square fullwidth" style="border: none;"  type="submit" name="deletesubmitbtn" value="true">{lang determine}</button>
		</div>
		<!--{if $_GET[type]!='view'}-->
		<script>function succeedhandle_$_GET[handlekey](url, msg, values) {share_delete(values['sid']);}</script>
		<!--{/if}-->
	</form>
<!--{elseif $_GET['op']=='link'}-->
	<form id="shareform" name="shareform" method="post" autocomplete="off" action="home.php?mod=spacecp&ac=share&type=link" onsubmit="{if $_G[inajax]}ajaxpost(this.id, 'return_$_GET[handlekey]');{/if}">
		<input type="hidden" name="refer" value="home.php?mod=space&uid=$space[uid]&do=share&view=me" />
		<input type="hidden" name="topicid" value="$_GET[topicid]" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="sharesubmit" value="true" />
		<input type="hidden" name="handlekey" value="$_GET[handlekey]" />
		<div class="header">
			<span class="title-tip" id="return_$_GET[handlekey]">{lang share}</span>
			<a onclick="hideWindow('$_GET['handlekey']');" class="close" title="{lang close}">×</a>
		</div>
		<div class="body">
			<div class="input-box">
				<span>URL</span>
				<input type="text" name="link" id="share_link" placeholder="{lang share_web_music_flash}"/>
			</div>
			<textarea id="share_general" name="general" onkeydown="ctrlEnter(event, 'sharesubmit_btn')" placeholder="{lang description}"></textarea>
		</div>
		<div class="footer">
			<button class="btn-square f" type="submit" name="sharesubmit_btn" id="sharesubmit_btn" value="true">{lang share}</button>
			<!--{if $secqaacheck || $seccodecheck}--><!--{subtemplate common/seccheck}--><!--{/if}-->
		</div>
		<!--{if $_G[inajax]}-->
		<script>function succeedhandle_$_GET['handlekey'](url, message, values) {showCreditPrompt();}</script>
		<!--{/if}-->
	</form>
<!--{elseif $_GET['op'] == 'edithot'}-->
	<form method="post" autocomplete="off" action="home.php?mod=spacecp&ac=share&op=edithot&sid=$sid">
		<input type="hidden" name="referer" value="{echo dreferer()}" />
		<input type="hidden" name="hotsubmit" value="true" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<div class="header">
			<span class="title-tip" id="return_$_GET[handlekey]">{lang adjust_hot}</span>
			<a onclick="hideWindow('$_GET['handlekey']');" class="close" title="{lang close}">×</a>
		</div>
		<div class="body">
			<div class="input-box">
				<span>{lang new_hot}</span>
				<input type="text" name="hot" value="$share[hot]" size="10"/>
			</div>
		</div>
		<div class="footer">
			<button class="btn-square fullwidth" style="border: none;"  type="submit" name="btnsubmit" value="true">{lang determine}</button>
		</div>
	</form>
<!--{else}-->
	<form method="post" autocomplete="off" id="shareform_{$id}" name="shareform_{$id}" action="home.php?mod=spacecp&ac=share&type=$type&id=$id" onsubmit="{if $_G[inajax]}ajaxpost(this.id, 'return_$_GET[handlekey]');{/if}">
		<input type="hidden" name="sharesubmit" value="true">
		<input type="hidden" name="referer" value="{echo dreferer()}">
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="handlekey" value="$_GET[handlekey]" />
		<div class="header">
			<span class="title-tip" id="return_$_GET[handlekey]">{lang share}</span>
			<a onclick="hideWindow('$_GET['handlekey']');" class="close" title="{lang close}">×</a>
		</div>
		<div class="body">
			<span>{lang share_count}</span>
			{lang share_description}
			<textarea id="general_{$id}" name="general" onkeydown="ctrlEnter(event, 'sharesubmit_btn')" onkeyup="showPreview(this.value, 'quote_{$id}')"></textarea>
			<ul id="share_preview">
				<!--{eval $value = $arr;}-->
				<!--{subtemplate home/space_trends_share_mod_li}-->
			</ul>
			<!--{if $secqaacheck || $seccodecheck}-->
				<!--{subtemplate common/seccheck}-->
			<!--{/if}-->
		</div>
		<div class="footer">
			<button class="btn-square" type="submit" name="sharesubmit_btn" id="sharesubmit_btn" value="true">{lang determine}</button>
			<!--{if $commentcable[$type]}-->
				<input type="checkbox" name="iscomment" value="1" id="iscomment"/>
				<label for="iscomment"><!--{if $type == 'thread'}-->{lang post_add_inonetime}<!--{else}-->{lang comment_add_inonetime}<!--{/if}--></label>
			<!--{/if}-->
		</div>
		<script>
            function succeedhandle_$_GET['handlekey'] (url, message, values) {
                if(values['cid'] && $('comment_ul') && !$('replynum_'+values['id'])) {
                    comment_add(values['cid']);
                }
                if($('replynum_'+values['id'])) {
                    var a = parseInt($('replynum_'+values['id']).innerHTML);
                    var b = a + 1;
                    $('replynum_'+values['id']).innerHTML = b + '';
                }
                if(values['type'] == 'thread' || values['type'] == 'article') {
                    setTimeout("location.href='" + url + "';", 3000);
                }
                showCreditPrompt();
            }
		</script>
	</form>
<!--{/if}-->
<!--{template common/footer}-->