<!--{template home/space_home__header}-->
<div class="mas-viewer grid-mode">
    <div class="mas-viewer-header">
        <!--{template home/space_home__header_userabout_sample}-->
    </div>
    <div class="mas-viewer-container" id="userspace_album">
        <album-viewer>
            <album-image-viewer>
                <div class="album-image-viewer-element-img">
                    <img src="" data-src="$pic['pic']" id="pic" alt="" />
                </div>

                <div class="album-image-viewer-element-name">
                    <!--{if $pic[title]}-->$pic[title]<!--{else}-->$pic['filename']<!--{/if}-->
                    <!--{if $pic[status] == 1}--><tag>{lang moderate_need}</tag><!--{/if}-->
                </div>

                <div class="album-image-viewer-element-ctl">
                    <a class="icon mt-subdirectory_arrow_left" href="home.php?mod=space&uid=$space[uid]&do=album&id=$pic[albumid]"><span class="tooltip">{lang return_pic_list}</span></a>

                    <!--{if $_GET['play']}-->
                        <a class="icon mt-pause" id="playid" onclick="playNextPic(false);" title="{lang stop_playing}"><span class="tooltip">{lang stop_playing}</span></a>
                    <!--{else}-->
                        <a class="icon mt-play_arrow" id="playid" onclick="playNextPic(true);" title="{lang start_playing}"><span class="tooltip">{lang start_playing}</span></a>
                    <!--{/if}-->

                    <!--{if $exifs}-->
                        <a class="icon mt-assistant_photo" href="$theurl&exif=1" title="{lang look_exif}">
                            <div class="tooltip">
                                <div class="tooltip-big-data">
                                    <table class="tooltip-big-data">
                                        <tbody>
                                            <tr><td style="white-space: nowrap">{lang upload_at}</td><td style="white-space: nowrap"><!--{date($pic[dateline])}--></td></tr>
                                            <!--{if checkperm('managealbum')}-->
                                            <tr><td style="white-space: nowrap">IP</td><td style="white-space: nowrap">$pic[postip]{if $pic[port]}:$pic[port]{/if}</td></tr>
                                            <!--{/if}-->
                                            <!--{if $exifs}--><!--{loop $exifs $key $value}-->
                                                <!--{if $value}-->
                                                    <tr><td style="white-space: nowrap">$key</td><td style="white-space: nowrap">$value</td></tr>
                                                <!--{/if}-->
                                            <!--{/loop}--><!--{/if}-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </a>
                    <!--{/if}-->

                    <!--{if helper_access::check_module('share')}-->
                        <a class="icon mt-share" id="a_share_$pic[picid]" onclick="showWindow(this.id, 'home.php?mod=spacecp&ac=share&type=pic&id=$pic[picid]&handlekey=sharealbumhk_{$pic[picid]}', 'get', 0);" title="{lang share}"><span class="tooltip">{lang share}</span></a>
                    <!--{/if}-->

                    <a class="icon mt-file_download" href="$pic[pic]" download="$pic[filename]" target="_blank" title="{lang download}"><span class="tooltip">{lang download}</span></a>
                </div>

                <ul class="album-image-viewer-element-index">
                    <!--{loop $piclist $value}-->
                    <li class="rec-img {if $value[picid]==$picid}active{/if}" style="background-image: url($value[pic])">
                        <img src="{LIBURL}/img/row-e-col/1.1.png" alt="">
                        <a class="cover-layer" href="home.php?mod=space&uid=$value[uid]&do=album&picid=$value[picid]#pic_block">
                            <!--{if $album[picnum] && $value[picid]==$picid}--><tag>{lang current_pic}</tag><!--{/if}-->
                        </a>
                    </li>
                    <!--{/loop}-->
                </ul>

                <a class="album-image-viewer-element-switch-prev ft-chevron-left" href="home.php?mod=space&uid=$pic[uid]&do=$do&picid=$upid&goto=up#pic_block" title="{lang previous_pic}"></a>
                <a class="album-image-viewer-element-switch-next ft-chevron-right" href="home.php?mod=space&uid=$pic[uid]&do=$do&picid=$nextid&goto=down#pic_block" id="nextlink" title="{lang next_pic}"></a>
            </album-image-viewer>

            <album-image-terminal>
                <!--{hook/space_album_pic_op_extra}-->

                <!--{if checkperm('managealbum')}-->
                    <a class="icon hot mt-whatshot" href="home.php?mod=spacecp&ac=album&picid=$pic[picid]&op=edithot&handlekey=picedithothk_{$pic[picid]}" id="a_hot_$pic[picid]" onclick="showWindow(this.id, this.href, 'get', 0);" title="">{lang hot_edit}</a>
                <!--{/if}-->

                <!--{if $_G['group']['allownest'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 5)}-->
                    <a class="icon recommend mt-recommend" href="portal.php?mod=portalcp&ac=portalblock&op=recommend&idtype=picid&id=$pic[picid]" onclick="showWindow('recommend', this.href, 'get', 0)">{lang blockdata_recommend}</a>
                <!--{/if}-->

                <!--{if $pic[uid] != $_G['uid']}-->
                    <a class="icon mt-warning" onclick="showWindow('miscreport$pic[picid]', 'misc.php?mod=report&rtype=pic&uid=$pic[uid]&rid=$pic[picid]', 'get', -1);return false;">{lang report}</a>
                <!--{/if}-->

                <!--{if $_G[uid] == $pic[uid] || checkperm('managealbum')}-->
                    <a class="icon manage mt-settings" href="home.php?mod=spacecp&ac=album&op=editpic&albumid=$pic[albumid]&picid=$pic[picid]">{lang manage_pic}</a>
                    <a class="icon edit mt-edit" href="home.php?mod=spacecp&ac=album&op=edittitle&albumid=$pic[albumid]&picid=$pic[picid]&handlekey=edittitlehk_{$pic[picid]}" id="a_set_title" onclick="showWindow(this.id, this.href, 'get', 0);" title="{lang edit_description}"></a>
                <!--{/if}-->
            </album-image-terminal>

            <album-image-comments>

                <!--{hook/space_album_pic_top}-->
                <!--{hook/space_album_pic_bottom}-->


                <!--{if $pic[uid] == $_G[uid]}-->
                <!--{if $_G[magic][frame]}-->
                <img src="{STATICURL}image/magic/frame.small.gif" alt="frame" class="vm" />
                <!--{/if}-->
                <!--{/if}-->
                <!--[nest=nestclicktop]--><div id="nestclicktop" class="area"></div><!--[/nest]-->



                <!--{if $album[friend] != 3}-->
                <div id="click_div">
                    <!--{template home/space_click}-->
                </div>
                <!--{/if}-->

                <!--{if helper_access::check_module('album')}-->
                <form id="quickcommentform_{$picid}" name="quickcommentform_{$picid}" action="home.php?mod=spacecp&ac=comment&handlekey=qcpic_{$picid}" method="post" autocomplete="off" onsubmit="ajaxpost('quickcommentform_{$picid}', 'return_qcpic_{$picid}');doane(event);" class="bm bw0" style="width: 600px;">
                    <!--{if $_G['uid']}-->
                    <p>
                        <span id="comment_face" onclick="showFace(this.id, 'comment_message');return false;" class="cur1"><img src="{STATICURL}image/common/facelist.gif" alt="facelist" class="vm" /></span>
                        <!--{hook/space_album_pic_face_extra}-->
                        <!--{if $_G['setting']['magicstatus'] && !empty($_G['setting']['magics']['doodle'])}-->
                        <a id="a_magic_doodle" href="home.php?mod=magic&mid=doodle&showid=comment_doodle&target=comment_message" onclick="showWindow(this.id, this.href, 'get', 0)"><img src="{STATICURL}image/magic/doodle.small.gif" alt="doodle" class="vm" /> $_G['setting']['magics']['doodle']</a>
                        <!--{/if}-->
                    </p>
                    <!--{/if}-->
                    <div class="tedt mtn mbn">
                        <div class="area">
                            <!--{if $_G['uid'] || $_G['group']['allowcomment']}-->
                            <textarea id="comment_message" onkeydown="ctrlEnter(event, 'commentsubmit_btn');" name="message" rows="3"></textarea>
                            <!--{else}-->
                            <div class="pt hm">{lang login_to_comment} <a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang login}</a> | <a href="member.php?mod={$_G[setting][regname]}">$_G['setting']['reglinkname']</a></div>
                            <!--{/if}-->
                        </div>

                    </div>
                    <!--{if $secqaacheck || $seccodecheck}-->
                    <div class="mtm mbm sec"><!--{subtemplate common/seccheck}--></div>
                    <!--{/if}-->
                    <p class="pns">
                        <input type="hidden" name="refer" value="$theurl" />
                        <input type="hidden" name="id" value="$picid" />
                        <input type="hidden" name="idtype" value="picid" />
                        <input type="hidden" name="commentsubmit" value="true" />
                        <input type="hidden" name="quickcomment" value="true" />
                        <button type="submit" name="commentsubmit_btn" value="true" id="commentsubmit_btn"{if !$_G[uid]&&!$_G['group']['allowcomment']} onclick="showWindow(this.id, this.form.action);return false;"{/if}><strong>{lang comment}</strong></button>
                        <span id="__quickcommentform_{$picid}"></span>
                        <span id="return_qcpic_{$picid}"></span>
                        <input type="hidden" name="formhash" value="{FORMHASH}" />
                    </p>
                </form>
                <!--{/if}-->

                <!--[nest=nestcommenttop]--><div id="nestcommenttop" class="area"></div><!--[/nest]-->
                <div id="pic_comment">
                    <!--{if !empty($list)}-->
                    <a href="home.php?mod=space&uid=$pic[uid]&do=$do&picid=$pic[picid]#quickcommentform_{$picid}" onclick="if($('comment_message')){$('comment_message').focus();return false;}" class="y xi2 xw0">{lang publish_comment}</a>
                    <!--{/if}-->
                    {lang comment}

                    <div id="comment">
                        <!--{if $cid}-->
                        <div class="i">
                            {lang current_comment}
                        </div>
                        <!--{/if}-->

                        <div class="xld xlda" id="comment_ul" >
                            <!--{loop $list $k $value}-->
                            <!--{template home/space_comment_li}-->
                            <!--{/loop}-->
                        </div>
                    </div>
                    <!--{if $multi}--><div class="album-element-pagination">$multi</div><!--{/if}-->
                </div>
            </album-image-comments>

            <script>
                var interval = 5000;
                var timerId = -1;
                var derId = -1;
                var replay = false;
                var num = 0;
                var endPlay = false;
                function forward() {
                    window.location.href = 'home.php?mod=space&uid=$pic[uid]&do=$do&picid=$nextid&goto=down&play=1#pic_block';
                }
                function derivativeNum() {
                    num++;
                    $('displayNum').innerHTML = '[' + (interval/1000 - num) + ']';
                }
                function playNextPic(stat) {
                    if(stat || replay) {
                        derId = window.setInterval('derivativeNum();', 1000);
                        $('displayNum').innerHTML = '[' + (interval/1000 - num) + ']';
                        $('playid').onclick = function (){replay = false;playNextPic(false);};
                        $('playid').innerHTML = '{lang stop_playing}';
                        timerId = window.setInterval('forward();', interval);
                    } else {
                        replay = true;
                        num = 0;
                        if(endPlay) {
                            $('playid').innerHTML = '{lang restart}';
                        } else {
                            $('playid').innerHTML = '{lang start_playing}';
                        }
                        $('playid').onclick = function (){playNextPic(true);};
                        $('displayNum').innerHTML = '';
                        window.clearInterval(timerId);
                        window.clearInterval(derId);
                    }
                }
                <!--{if $_GET['play']}-->
                <!--{if $sequence && $album['picnum']}-->
                if($sequence == $album[picnum]) {
                    endPlay = true;
                    playNextPic(false);
                } else {
                    playNextPic(true);
                }
                <!--{else}-->
                playNextPic(true);
                <!--{/if}-->
                <!--{/if}-->

                function update_title() {
                    $('title_form').style.display='';
                }

                var elems = selector('dd[class~=magicflicker]');
                for(var i=0; i<elems.length; i++){
                    magicColor(elems[i]);
                }
            </script>

            <script>
                function succeedhandle_qcpic_{$picid}(url, msg, values) {
                    if(values['cid']) {
                        comment_add(values['cid']);
                    } else {
                        $('return_qcpic_{$picid}').innerHTML = msg;
                    }
                    <!--{if $sechash}-->
                    <!--{if $secqaacheck}-->
                    updatesecqaa('$sechash');
                    <!--{/if}-->
                    <!--{if $seccodecheck}-->
                    updateseccode('$sechash');
                    <!--{/if}-->
                    <!--{/if}-->
                }
            </script>

            <script>
                addEvent(document,'DOMContentLoaded',function () {

                    let image = SR('.album-image-viewer-element-img > img')[0],
                        image_cta = SR('.album-image-viewer-element-img')[0],
                        image_ctl = SR('.album-image-viewer-element-ctl')[0],

                        image_viewer_height = function (){
                            return SRGlobal.Window.Height - 72 - 20;
                        },

                        image_viewer_resize = function (){
                            image_cta.style.height = image_viewer_height() + 'px';
                            image_cta.delClass('expend');
                        },

                        image_viewer_onload = function (){
                            image.style.display = '';
                        },

                        image_viewer_expend = function (){
                            if(!image_cta.hasClass('expend') &&
                                image.naturalHeight > image_viewer_height() &&
                                (image.naturalHeight / image.naturalWidth) > (image_viewer_height() / image_cta.Css.width)
                            ){
                                image_cta.style.height = '';
                                image_cta.addClass('expend');
                            } else {
                                image_cta.style.height = image_viewer_height() + 'px';
                                image_cta.delClass('expend');
                            }
                        };

                    if(image){
                        image.style.display = 'none';
                        image.onload = image_viewer_onload();
                        image.src = image.data('src');

                        image_cta.style.height = image_viewer_height() + 'px';
                        addEvent(image_cta,'click',image_viewer_expend);
                        addEvent(window,'resize',image_viewer_resize);
                    }
                });
            </script>
        </album-viewer>
    </div>
</div>

<!--{template common/footer}-->