<!--{template home/spacecp_cent_header}-->
<div class="plate layout-2-type3 app-profile cloud">
	<section class="col-1"><!--{template home/spacecp_cent_vnav}--></section>
	<section class="col-2">
		<!--{subtemplate home/spacecp_cent_header_userinfo}-->
		<!--{if $validate}-->
			<!--region reg-reject-->
			<p class="vessel alert hi-danger">{lang validator_comment}</p>
			<div class="vessel">
				<form class="withedge" action="member.php?mod=regverify" method="post" autocomplete="off">
					<input type="hidden" value="{FORMHASH}" name="formhash" />
					<p class="tip-title">{lang validator_remark}</p>
					<blockquote><!--{if $validate[remark]}-->$validate[remark]<!--{else}-->{lang register_rejected}<!--{/if}--></blockquote>
					<p class="tip-title">{lang validator_message}</p>
					<textarea class="text" name="regmessagenew" placeholder="{lang validator_message}"></textarea>
					<button class="maintheme" type="submit" name="verifysubmit" value="true">{lang validator_submit}</button>
				</form>
			</div>
			<!--endregion-->
		<!--{else}-->
			<div class="vessel" id="setting_profile">
				<!--{if $operation == 'password'}-->
					<!--region password-->
					<div class="withedge">
						<script type="text/javascript" src="{$_G[setting][jspath]}register.js?{VERHASH}"></script>
						<p class="tool-notice">
							<!--{if !$_G['member']['freeze']}-->

                                <!--{if !$_G['setting']['connect']['allow'] || !$conisregister}-->
                                    {lang old_password_comment}
                                <!--{elseif $wechatuser}-->
                                    {lang wechat_config_newpassword_comment}
                                <!--{else}-->
                                    {lang connect_config_newpassword_comment}
                                <!--{/if}-->

							<!--{elseif $_G['member']['freeze'] == 1}-->
							    {lang freeze_pw_tips}
							<!--{elseif $_G['member']['freeze'] == 2}-->
							    {lang freeze_email_tips}
                            <!--{elseif $_G['member']['freeze'] == -1}-->
                                {lang freeze_admincp_tips}
							<!--{/if}-->
						</p>
						<form action="home.php?mod=spacecp&ac=profile" method="post" autocomplete="off">
							<input type="hidden" value="{FORMHASH}" name="formhash" />
							<!--{if !$_G['setting']['connect']['allow'] || !$conisregister}-->
								<div class="inputline">
									<span><i class="must"></i>{lang old_password}</span>
									<input type="password" name="oldpassword" id="oldpassword" />
									<p class="message"></p>
								</div>
							<!--{/if}-->
							<div class="inputline">
								<span>{lang new_password}</span>
								<input type="password" name="newpassword" id="newpassword" />
								<p class="message">{lang memcp_profile_passwd_comment}</p>
							</div>
							<div class="inputline">
								<span>{lang new_password_confirm}</span>
								<input type="password" name="newpassword2" id="newpassword2"/>
								<p class="message">{lang memcp_profile_passwd_comment}</p>
							</div>
							<div class="inputline">
								<span>{lang email}</span>
								<input type="text" name="emailnew" id="emailnew" value="$space[email]" />
								<p class="message">
									<!--{if $_G['member']['freeze'] == 2}-->
									    {lang freeze_email_tips}
                                    <!--{elseif empty($space['newemail'])}-->
										{lang email_been_active}
									<!--{else}-->
										$acitvemessage
									<!--{/if}-->

									<!--{if $_G['setting']['regverify'] == 1 && (($_G['group']['grouptype'] == 'member' && $_G['adminid'] == 0) || $_G['groupid'] == 8) || $_G['member']['freeze']}-->
										{lang memcp_profile_email_comment}
									<!--{/if}-->
								</p>
							</div>

                            <!--{if $_G['member']['freeze'] == 2 || $_G['member']['freeze'] == -1}-->
							<div class="inputline">
								<span>{lang freeze_reason}</span>
								<textarea name="freezereson">$space[freezereson]</textarea>
								<label class="message">
                                    <!--{if $_G['member']['freeze'] == 2}-->{lang freeze_reason_comment}<!--{/if}-->
                                    <!--{if $_G['member']['freeze'] == -1}-->{lang freeze_reason_admincp_comment}<!--{/if}-->
                                </label>
							</div>
							<!--{/if}-->

                            <!--{if ($_G['member']['freeze'] == 2 || $_G['member']['freeze'] == -1) && !empty($space[freezemodremark])}-->
							<div class="inputline">
								<span>{lang freeze_remark}</span>
								<textarea name="freezemodremark" disabled="disabled">$space[freezemodremark]</textarea>
								<label class="message">{lang freeze_remark_comment}</label>
							</div>
							<!--{/if}-->

							<div class="inputline">
								<span>{lang security_question}</span>
								<select name="questionidnew" id="questionidnew">
									<option value="" selected>{lang memcp_profile_security_keep}</option>
									<option value="0">{lang security_question_0}</option>
									<option value="1">{lang security_question_1}</option>
									<option value="2">{lang security_question_2}</option>
									<option value="3">{lang security_question_3}</option>
									<option value="4">{lang security_question_4}</option>
									<option value="5">{lang security_question_5}</option>
									<option value="6">{lang security_question_6}</option>
									<option value="7">{lang security_question_7}</option>
								</select>
								<p class="message">{lang memcp_profile_security_comment}</p>
							</div>
							<div class="inputline">
								<span>{lang security_answer}</span>
								<input type="text" name="answernew" id="answernew" />
								<p class="message">{lang memcp_profile_security_answer_comment}</p>
							</div>
							<div class="sec-submit">
								<!--{if $secqaacheck || $seccodecheck}-->
								<!--{subtemplate common/seccheck}-->
								<!--{/if}-->
								<button class="maintheme" type="submit" name="pwdsubmit" value="true" >{lang save}</button>
							</div>
							<input type="hidden" name="passwordsubmit" value="true" />
						</form>
						<script type="text/javascript">
							var strongpw = [];
							<!--{if $_G['setting']['strongpw']}-->
							<!--{loop $_G['setting']['strongpw'] $key $val}-->
							strongpw[$key] = $val;
							<!--{/loop}-->
							<!--{/if}-->
							var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
							checkPwdComplexity($('newpassword'), $('newpassword2'), true);
						</script>
					</div>
					<!--endregion-->
				<!--{else}-->
					<!--region personinfo-->
						<!--{hook/spacecp_profile_top}-->
						<!--{subtemplate home/spacecp_cent_profile_nav}-->
						<div class="withedge">
							<!--{if $vid}-->
								<p class="tool-notice">
									<!--{if $showbtn}-->
									    {lang spacecp_profile_message1}
									<!--{else}-->
									    {lang spacecp_profile_message2}
									<!--{/if}-->
								</p>
							<!--{/if}-->
							<iframe id="frame_profile" name="frame_profile" style="display: none"></iframe>
							<form action="{if $operation != 'plugin'}home.php?mod=spacecp&ac=profile&op=$operation{else}home.php?mod=spacecp&ac=plugin&op=profile&id=$_GET[id]{/if}" method="post" enctype="multipart/form-data" autocomplete="off"  target="{if $operation != 'plugin'}frame_profile{/if}" onsubmit="clearErrorInfo();">
								<input type="hidden" value="{FORMHASH}" name="formhash" />
								<!--{if $_GET[vid]}-->
                                    <input type="hidden" value="$_GET[vid]" name="vid" />
                                <!--{/if}-->
                                <!--{loop $settings $key $value}-->
                                    <!--{if $value[available]}-->
                                        <div class="inputline" id="line_$key">
                                            <span><!--{if $value[required]}--><i class="must"></i><!--{/if}-->$value[title]</span>
                                            $htmls[$key]
                                            <!--{if $vid}-->
                                                <input type="hidden" name="privacy[$key]" value="3"/>
                                            <!--{else}-->
                                                <div class="radiolist r">
                                                    <input name="privacy[$key]" id="privacy[$key]_3" type="radio" value="3" {if $privacy[$key] == '3'}checked{/if}/>
                                                    <label for="privacy[$key]_3">{lang secrecy}</label>
                                                    <input name="privacy[$key]" id="privacy[$key]_1" type="radio" value="0" {if $privacy[$key] == '0'}checked{/if}/>
                                                    <label for="privacy[$key]_1">{lang open_privacy}</label>
                                                    <input name="privacy[$key]" id="privacy[$key]_2" type="radio" value="1" {if $privacy[$key] == '1'}checked{/if}/>
                                                    <label for="privacy[$key]_2">{lang friend_privacy}</label>
                                                </div>
                                            <!--{/if}-->
                                        </div>
                                    <!--{/if}-->
                                <!--{/loop}-->
                                <!--{if $allowcstatus && in_array('customstatus', $allowitems)}-->
                                    <div class="inputline" id="line_customstatus">
                                        <span>{lang permission_basic_status}</span>
                                        <input type="text" value="$space[customstatus]" name="customstatus" id="customstatus" />
                                        <p class="message" id="showerror_customstatus"></p>
                                    </div>
                                <!--{/if}-->
                                <!--{if $_G['group']['maxsigsize'] && in_array('sightml', $allowitems)}-->
                                    <div class="inputline" id="line_sightml">
                                        <span>{lang personal_signature}</span>
                                        <div class="editor">
                                            <textarea name="sightml" id="sightmlmessage" onkeydown="ctrlEnter(event, 'profilesubmitbtn');" placeholder="">$space[sightml]</textarea>
                                            <!--{if $_G['group']['allowsigimgcode']}-->
                                            <!--{eval $seditor = array('sightml', array('bold', 'color','link'));}-->
                                            <!--{/if}-->
                                            <!--{subtemplate common/seditor}-->
                                        </div>
                                    </div>
                                    <div id="signhtmlpreview"></div>
                                    <script type="text/javascript" src="{$_G[setting][jspath]}bbcode.js?{VERHASH}"></script>
                                    <script type="text/javascript">var forumallowhtml = 0,allowhtml = 0,allowsmilies = 0,allowbbcode = parseInt('{$_G[group][allowsigbbcode]}'),allowimgcode = parseInt('{$_G[group][allowsigimgcode]}');var DISCUZCODE = [];DISCUZCODE['num'] = '-1';DISCUZCODE['html'] = [];</script>
                                <!--{/if}-->
                                <!--{if in_array('timeoffset', $allowitems)}-->
                                <!--{eval $timeoffset = array({lang timezone});}-->
                                    <div class="inputline" id="line_timeoffset">
                                        <span>{lang time_zone}</span>
                                        <select name="timeoffset">
                                            <!--{loop $timeoffset $key $desc}-->
                                            <option value="$key"{if $key==$space[timeoffset]} selected="selected"{/if}>$desc</option>
                                            <!--{/loop}-->
                                        </select>
                                        <p class="message">
                                            {lang current_time} : <a><!--{date($_G[timestamp])}--></a>
                                            <br>
                                            {lang time_zone_message}
                                        </p>
                                    </div>
                                <!--{/if}-->
                                <!--{if $operation == 'plugin'}-->
                                    <!--{eval include(template($_GET['id']));}-->
                                <!--{/if}-->
                                <!--{hook/spacecp_profile_extra}-->
                                <!--{if $showbtn}-->
                                    <input type="hidden" name="profilesubmit" value="true" />
                                    <button class="maintheme" type="submit" name="profilesubmitbtn" id="profilesubmitbtn" value="true" >{lang save}</button>
                                    <span id="submit_result" class="rq"></span>
                                <!--{/if}-->
								<!--{hook/spacecp_profile_bottom}-->
							</form>
							<script type="text/javascript">
								function show_error(fieldid, extrainfo) {
									var elem = $('line_'+fieldid);
									if(elem) {
										var debuger = elem.querySelector('.input-tip');
										if( !debuger){
											debuger = document.createElement('p');
											debuger.className = "input-tip";
											elem.appendChild(debuger);
										}
										fieldname = elem.innerHTML;
										extrainfo = (typeof extrainfo == "string") ? extrainfo : "";
										debuger.innerHTML = "{lang check_date_item} " + extrainfo;
										$(fieldid).focus();
									}
								}
								function show_success(message) {
									message = message === '' ? '{lang update_date_success}' : message;
									showDialog(message, 'right', '{lang reminder}', function(){
										top.window.location.href = top.window.location.href;
									}, 0, null, '', '', '', '');
								}
								function clearErrorInfo() {
									var spanObj = getEventobj().querySelectorAll(".input-tip");
									for(var i in spanObj) {
										spanObj[i].innerHTML = '';
									}
								}
							</script>
						</div>
					<!--endregion-->
				<!--{/if}-->
			</div>
		<!--{/if}-->
	</section>
</div>
<!--{template common/footer}-->
