<div class="whitespace nav-horizon">
    <ul class="secondary edge">
        <li class="$sub_actives[type_all]"><a href="$navtheurl&type=all">{lang share_all}</a></li>
        <li class="$sub_actives[type_link]"><a href="$navtheurl&type=link">{lang share_link}</a></li>
        <li class="$sub_actives[type_iframe]"><a href="$navtheurl&type=iframe">{lang share_media}</a></li>
        <li class="$sub_actives[type_music]"><a href="$navtheurl&type=music">{lang share_music}</a></li>
        <li class="$sub_actives[type_video]"><a href="$navtheurl&type=video">{lang share_video}</a></li>
        <li class="$sub_actives[type_pic]"><a href="$navtheurl&type=pic">{lang share_pic}</a></li>

        <!--{if helper_access::check_module('blog')}-->
        <li class="$sub_actives[type_blog]"><a href="$navtheurl&type=blog">{lang share_blog}</a></li>
        <!--{/if}-->
        <!--{if helper_access::check_module('album')}-->
        <li class="$sub_actives[type_album]"><a href="$navtheurl&type=album">{lang share_album}</a></li>
        <!--{/if}-->
        <li class="$sub_actives[type_poll]"><a href="$navtheurl&type=poll">{lang share_poll}</a></li>
        <li class="$sub_actives[type_space]"><a href="$navtheurl&type=space">{lang share_space}</a></li>
        <li class="$sub_actives[type_thread]"><a href="$navtheurl&type=thread">{lang share_thread}</a></li>
        <!--{if helper_access::check_module('portal')}-->
        <li class="$sub_actives[type_article]"><a href="$navtheurl&type=article">{lang share_article}</a></li>
        <!--{/if}-->
    </ul>
</div>
