<!--{if helper_access::check_module('share') && $space[self]}-->
    <!--{template home/space_home_mod_share_form}-->
<!--{/if}-->
<!--{template home/space_home_mod_share_nav}-->
<!--{if $list}-->
    <ul id="share_ul">
        <!--{loop $list $k $value}-->
            <!--{template home/space_home_mod_share_li}-->
        <!--{/loop}-->
    </ul>
    <!--{if $pricount}-->
        <p class="vessel alert hi-warning">{lang hide_share}</p>
    <!--{/if}-->
    <div class="page">
        <!--{if $multi}-->
            $multi
        <!--{else}-->
            <p class="nomore">{lang nomore}</p>
        <!--{/if}-->
    </div>
<!--{else}-->
    <ul id="share_ul"></ul>
    <div class=" vessel withedge">
        <p class="global_nothing">{lang global_nothing}</p>
    </div>
<!--{/if}-->